In [1]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_12536\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 39, in <module>
    from pandas.compat import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\compat\__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\compat\pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_12536\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\dtypes\dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_12536\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_12536\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\RASIK AHMAD DAR\AppData\Roaming\Python\Python312\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\RASIK AHMAD DAR\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

In [2]:
data=pd.read_csv('C:\\Users\\RASIK AHMAD DAR\\Downloads\\tested.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
# data.info()
#now i have to bypass the dataset set to print it fully withe details of all columns and rows
pd.set_option('display.max.rows',None)
data
pclass=data['Pclass']
pclass.to_csv('C:\\Users\\RASIK AHMAD DAR\\Downloads\\pclass.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [5]:
missingAge=data[data['Age'].isnull()]
missingAge

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,902,0,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
22,914,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
29,921,0,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
33,925,1,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
36,928,1,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
39,931,0,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
41,933,0,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S
47,939,0,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
54,946,0,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
58,950,0,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S
65,957,1,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
76,968,0,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
83,975,0,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
84,976,0,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
85,977,0,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
88,980,1,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
91,983,0,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S
93,985,0,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
102,994,0,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
107,999,0,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
108,1000,0,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
111,1003,1,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q
116,1008,0,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
121,1013,0,3,"Kiernan, Mr. John",male,NaN,1,0,367227,7.7500,NaN,Q
124,1016,0,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
127,1019,1,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
132,1024,1,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,S
133,1025,0,3,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C
146,1038,0,1,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S
148,1040,0,1,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S
151,1043,0,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
160,1052,1,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
163,1055,0,3,"Pearce, Mr. Ernest",male,NaN,0,0,343271,7.0000,NaN,S
168,1060,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
170,1062,0,3,"Lithman, Mr. Simon",male,NaN,0,0,S.O./P.P. 251,7.5500,NaN,S
173,1065,0,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
183,1075,0,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
188,1080,1,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,S
191,1083,0,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S
199,1091,1,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,NaN,0,0,65305,8.1125,NaN,S
200,1092,1,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,Q
205,1097,0,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
211,1103,0,3,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S
216,1108,1,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q
219,1111,0,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S
225,1117,1,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
227,1119,1,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
233,1125,0,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
243,1135,0,3,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S
244,1136,0,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
249,1141,1,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2660,14.4542,NaN,C
255,1147,0,3,"MacKay, Mr. George William",male,NaN,0,0,C.A. 42795,7.5500,NaN,S
256,1148,0,3,"Mahon, Mr. John",male,NaN,0,0,AQ/4 3130,7.7500,NaN,Q
265,1157,0,3,"Lyntakoff, Mr. Stanko",male,NaN,0,0,349235,7.8958,NaN,S
266,1158,0,1,"Chisholm, Mr. Roderick Robert Crispin",male,NaN,0,0,112051,0.0000,NaN,S
267,1159,0,3,"Warren, Mr. Charles William",male,NaN,0,0,C.A. 49867,7.5500,NaN,S
268,1160,1,3,"Howard, Miss. May Elizabeth",female,NaN,0,0,A. 2. 39186,8.0500,NaN,S
271,1163,0,3,"Fox, Mr. Patrick",male,NaN,0,0,368573,7.7500,NaN,Q
273,1165,1,3,"Lennon, Miss. Mary",female,NaN,1,0,370371,15.5000,NaN,Q
274,1166,0,3,"Saade, Mr. Jean Nassr",male,NaN,0,0,2676,7.2250,NaN,C
282,1174,1,3,"Fleming, Miss. Honora",female,NaN,0,0,364859,7.7500,NaN,Q
286,1178,0,3,"Franklin, Mr. Charles (Charles Fardon)",male,NaN,0,0,SOTON/O.Q. 3101314,7.2500,NaN,S
288,1180,0,3,"Mardirosian, Mr. Sarkis",male,NaN,0,0,2655,7.2292,F E46,C
289,1181,0,3,"Ford, Mr. Arthur",male,NaN,0,0,A/5 1478,8.0500,NaN,S
290,1182,0,1,"Rheims, Mr. George Alexander Lucien",male,NaN,0,0,PC 17607,39.6000,NaN,S
292,1184,0,3,"Nasr, Mr. Mustafa",male,NaN,0,0,2652,7.2292,NaN,C
297,1189,0,3,"Samaan, Mr. Hanna",male,NaN,2,0,2662,21.6792,NaN,C
301,1193,0,2,"Malachard, Mr. Noel",male,NaN,0,0,237735,15.0458,D,C
304,1196,1,3,"McCarthy, Miss. Catherine Katie""""",female,NaN,0,0,383123,7.7500,NaN,Q
312,1204,0,3,"Sadowitz, Mr. Harry",male,NaN,0,0,LP 1588,7.5750,NaN,S
332,1224,0,3,"Thomas, Mr. Tannous",male,NaN,0,0,2684,7.2250,NaN,C
339,1231,0,3,"Betros, Master. Seman",male,NaN,0,0,2622,7.2292,NaN,C
342,1234,0,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S
344,1236,0,3,"van Billiard, Master. James William",male,NaN,1,1,A/5. 851,14.5000,NaN,S
357,1249,0,3,"Lockyer, Mr. Edward",male,NaN,0,0,1222,7.8792,NaN,S
358,1250,0,3,"O'Keefe, Mr. Patrick",male,NaN,0,0,368402,7.7500,NaN,Q
365,1257,1,3,"Sage, Mrs. John (Annie Bullen)",female,NaN,1,9,CA. 2343,69.5500,NaN,S
366,1258,0,3,"Caram, Mr. Joseph",male,NaN,1,0,2689,14.4583,NaN,C
380,1272,0,3,"O'Connor, Mr. Patrick",male,NaN,0,0,366713,7.7500,NaN,Q
382,1274,1,3,"Risien, Mrs. Samuel (Emma)",female,NaN,0,0,364498,14.5000,NaN,S
384,1276,0,2,"Wheeler, Mr. Edwin Frederick""""",male,NaN,0,0,SC/PARIS 2159,12.8750,NaN,S
408,1300,1,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
410,1302,1,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [6]:

data_three=data['Age'].notnull()
data_three.shape

(418,)

In [7]:
cabinNotAlot=data[data['Cabin'].isnull()]
cabinNotAlot

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.00,2,0,A/4 48871,24.1500,NaN,S
10,902,0,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0000,NaN,S
13,905,0,2,"Howard, Mr. Benjamin",male,63.00,1,0,24065,26.0000,NaN,S
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,0,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
17,909,0,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
18,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,1,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,2696,7.2250,NaN,C
20,912,0,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
21,913,0,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
22,914,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,0,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
25,917,0,3,"Robins, Mr. Alexander A",male,50.00,1,0,A/5. 3337,14.5000,NaN,S
27,919,0,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
29,921,0,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
30,922,0,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
31,923,0,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
32,924,1,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
33,925,1,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
35,927,0,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
36,928,1,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
37,929,1,3,"Cacic, Miss. Manda",female,21.00,0,0,315087,8.6625,NaN,S
38,930,0,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
39,931,0,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
40,932,0,3,"Karun, Mr. Franz",male,39.00,0,1,349256,13.4167,NaN,C
42,934,0,3,"Goldsmith, Mr. Nathan",male,41.00,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,1,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,237249,13.0000,NaN,S
45,937,0,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,STON/O 2. 3101291,7.9250,NaN,S
47,939,0,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
49,941,1,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
51,943,0,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
52,944,1,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,29105,23.0000,NaN,S
54,946,0,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
55,947,0,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
56,948,0,3,"Cor, Mr. Bartol",male,35.00,0,0,349230,7.8958,NaN,S
58,950,0,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S
60,952,0,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,NaN,S
61,953,0,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,237216,13.5000,NaN,S
62,954,0,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,347090,7.7500,NaN,S
63,955,1,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
65,957,1,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
66,958,1,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
67,959,0,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,113796,42.4000,NaN,S
70,962,1,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
71,963,0,3,"Minkoff, Mr. Lazar",male,21.00,0,0,349211,7.8958,NaN,S
72,964,1,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,3101297,7.9250,NaN,S
76,968,0,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
78,970,0,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,248744,13.0000,NaN,S
79,971,1,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
80,972,0,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
82,974,0,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S
83,975,0,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
84,976,0,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
85,977,0,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
86,978,1,3,"Barry, Miss. Julia",female,27.00,0,0,330844,7.8792,NaN,Q
87,979,1,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
88,980,1,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
89,981,0,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,NaN,S
90,982,1,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.00,1,0,347072,13.9000,NaN,S
91,983,0,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S
93,985,0,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
94,986,0,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C
95,987,0,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,350033,7.7958,NaN,S
97,989,0,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,STON/O 2. 3101268,7.9250,NaN,S
98,990,1,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,347471,7.8542,NaN,S
99,991,0,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,A./5. 3338,8.0500,NaN,S
101,993,0,2,"Weisz, Mr. Leopold",male,27.00,1,0,228414,26.0000,NaN,S
102,994,0,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
103,995,0,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,347070,7.7750,NaN,S
104,996,1,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
105,997,0,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,C 4001,22.5250,NaN,S
106,998,0,3,"Buckley, Mr. Daniel",male,21.00,0,0,330920,7.8208,NaN,Q
107,999,0,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
108,1000,0,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
110,1002,0,2,"Stanton, Mr. Samuel Ward",male,41.00,0,0,237734,15.0458,NaN,C
111,1003,1,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q
113,1005,1,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
115,1007,0,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2680,14.4542,NaN,C
116,1008,0,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
119,1011,1,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.00,1,0,SC/AH 29037,26.0000,NaN,S
120,1012,1,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,NaN,S
121,1013,0,3,"Kiernan, Mr. John",male,NaN,1,0,367227,7.7500,NaN,Q
123,1015,0,3,"Carver, Mr. Alfred John",male,28.00,0,0,392095,7.2500,NaN,S
124,1016,0,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
125,1017,1,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,NaN,S
126,1018,0,3,"Brobeck, Mr. Karl Rudolf",male,22.00,0,0,350045,7.7958,NaN,S
127,1019,1,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
128,1020,0,2,"Bowenur, Mr. Solomon",male,42.00,0,0,211535,13.0000,NaN,S
129,1021,0,3,"Petersen, Mr. Marius",male,24.00,0,0,342441,8.0500,NaN,S
130,1022,0,3,"Spinner, Mr. Henry John",male,32.00,0,0,STON/OQ. 369943,8.0500,NaN,S
132,1024,1,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,S
133,1025,0,3,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C
134,1026,0,3,"Dintcheff, Mr. Valtcho",male,43.00,0,0,349226,7.8958,NaN,S
135,1027,0,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,350409,7.8542,NaN,S
136,1028,0,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C
137,1029,0,2,"Schmidt, Mr. August",male,26.00,0,0,248659,13.0000,NaN,S
138,1030,1,3,"Drapkin, Miss. Jennie",female,23.00,0,0,SOTON/OQ 392083,8.0500,NaN,S
139,1031,0,3,"Goodwin, Mr. Charles Frederick",male,40.00,1,6,CA 2144,46.9000,NaN,S
140,1032,1,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
141,1033,1,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S
143,1035,0,2,"Beauchamp, Mr. Henry James",male,28.00,0,0,244358,26.0000,NaN,S
144,1036,0,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",male,42.00,0,0,17475,26.5500,NaN,S
145,1037,0,3,"Vander Planke, Mr. Julius",male,31.00,3,0,345763,18.0000,NaN,S
147,1039,0,3,"Davies, Mr. Evan",male,22.00,0,0,SC/A4 23568,8.0500,NaN,S
148,1040,0,1,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S
149,1041,0,2,"Lahtinen, Rev. William",male,30.00,1,1,250651,26.0000,NaN,S
151,1043,0,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
152,1044,0,3,"Storey, Mr. Thomas",male,60.50,0,0,3701,NaN,NaN,S
153,1045,1,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,350405,12.1833,NaN,S
154,1046,0,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,347077,31.3875,NaN,S
155,1047,0,3,"Duquemin, Mr. Joseph",male,24.00,0,0,S.O./P.P. 752,7.5500,NaN,S
157,1049,1,3,"Lundin, Miss. Olga Elida",female,23.00,0,0,347469,7.8542,NaN,S
159,1051,1,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,SOTON/O.Q. 3101315,13.7750,NaN,S
160,1052,1,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
161,1053,0,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
162,1054,1,2,"Wright, Miss. Marion",female,26.00,0,0,220844,13.5000,NaN,S
163,1055,0,3,"Pearce, Mr. Ernest",male,NaN,0,0,343271,7.0000,NaN,S
164,1056,0,2,"Peruschitz, Rev. Joseph Maria",male,41.00,0,0,237393,13.0000,NaN,S
165,1057,1,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,315153,22.0250,NaN,S
167,1059,0,3,"Ford, Mr. Edward Watson",male,18.00,2,2,W./C. 6608,34.3750,NaN,S
168,1060,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
169,1061,1,3,"Hellstrom, Miss. Hilda Maria",female,22.00,0,0,7548,8.9625,NaN,S
170,1062,0,3,"Lithman, Mr. Simon",male,NaN,0,0,S.O./P.P. 251,7.5500,NaN,S
171,1063,0,3,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C
172,1064,0,3,"Dyker, Mr. Adolf Fredrik",male,23.00,1,0,347072,13.9000,NaN,S
173,1065,0,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
174,1066,0,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.00,1,5,347077,31.3875,NaN,S
175,1067,1,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,NaN,S
176,1068,1,2,"Sincock, Miss. Maude",female,20.00,0,0,C.A. 33112,36.7500,NaN,S
180,1072,0,2,"McCrie, Mr. James Matthew",male,30.00,0,0,233478,13.0000,NaN,S
183,1075,0,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
185,1077,0,2,"Maybery, Mr. Frank Hubert",male,40.00,0,0,239059,16.0000,NaN,S
186,1078,1,2,"Phillips, Miss. Alice Frances Louisa",female,21.00,0,1,S.O./P.P. 2,21.0000,NaN,S
187,1079,0,3,"Davies, Mr. Joseph",male,17.00,2,0,A/4 48873,8.0500,NaN,S
188,1080,1,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,S
189,1081,0,2,"Veal, Mr. James",male,40.00,0,0,28221,13.0000,NaN,S
190,1082,0,2,"Angle, Mr. William A",male,34.00,1,0,226875,26.0000,NaN,S
191,1083,0,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S
192,1084,0,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,NaN,S
193,1085,0,2,"Lingane, Mr. John",male,61.00,0,0,235509,12.3500,NaN,Q
194,1086,0,2,"Drew, Master. Marshall Brines",male,8.00,0,2,28220,32.5000,NaN,S
195,1087,0,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.00,0,0,347465,7.8542,NaN,S
197,1089,1,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,347066,7.7750,NaN,S
198,1090,0,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,C.A. 31030,10.5000,NaN,S
199,1091,1,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,NaN,0,0,65305,8.1125,NaN,S
200,1092,1,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,Q
201,1093,0,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,NaN,S
203,1095,1,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,NaN,S
204,1096,0,2,"Andrew, Mr. Frank Thomas",male,25.00,0,0,C.A. 34050,10.5000,NaN,S
205,1097,0,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
206,1098,1,3,"McGowan, Miss. Katherine",female,35.00,0,0,9232,7.7500,NaN,Q
207,1099,0,2,"Collett, Mr. Sidney C Stuart",male,24.00,0,0,28034,10.5000,NaN,S
209,1101,0,3,"Delalic, Mr. Redjo",male,25.00,0,0,349250,7.8958,NaN,S
210,1102,0,3,"Andersen, Mr. Albert Karvin",male,32.00,0,0,C 4001,22.5250,NaN,S
211,1103,0,3,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S
212,1104,0,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,NaN,S
213,1105,1,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.00,1,0,24065,26.0000,NaN,S
214,1106,1,3,"Andersson, Miss. Ida Augusta Margareta",female,38.00,4,2,347091,7.7750,NaN,S
216,1108,1,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q
217,1109,0,1,"Wick, Mr. George Dennick",male,57.00,1,1,36928,164.8667,NaN,S
219,1111,0,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S
220,1112,1,2,"Duran y More, Miss. Florentina",female,30.00,1,0,SC/PARIS 2148,13.8583,NaN,C
221,1113,0,3,"Reynolds, Mr. Harold J",male,21.00,0,0,342684,8.0500,NaN,S
223,1115,0,3,"Karlsson, Mr. Einar Gervasius",male,21.00,0,0,350053,7.7958,NaN,S
224,1116,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C
225,1117,1,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
226,1118,0,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,350054,7.7958,NaN,S
227,1119,1,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
228,1120,0,3,"Everett, Mr. Thomas James",male,40.50,0,0,C.A. 6212,15.1000,NaN,S
229,1121,0,2,"Hocking, Mr. Samuel James Metcalfe",male,36.00,0,0,242963,13.0000,NaN,S
230,1122,0,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,NaN,S
231,1123,1,1,"Willard, Miss. Constance",female,21.00,0,0,113795,26.5500,NaN,S
232,1124,0,3,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,NaN,S
233,1125,0,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
235,1127,0,3,"Vendel, Mr. Olof Edvin",male,20.00,0,0,350416,7.8542,NaN,S
237,1129,0,3,"Baccos, Mr. Raffull",male,20.00,0,0,2679,7.2250,NaN,C
238,1130,1,2,"Hiltunen, Miss. Marta",female,18.00,1,1,250650,13.0000,NaN,S
240,1132,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.00,0,0,112377,27.7208,NaN,C
241,1133,1,2,"Christy, Mrs. (Alice Frances)",female,45.00,0,2,237789,30.0000,NaN,S
243,1135,0,3,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S
244,1136,0,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
246,1138,1,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.00,0,0,F.C.C. 13534,21.0000,NaN,S
247,1139,0,2,"Drew, Mr. James Vivian",male,42.00,1,1,28220,32.5000,NaN,S
248,1140,1,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.00,1,0,26707,26.0000,NaN,S
249,1141,1,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2660,14.4542,NaN,C
250,1142,1,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,NaN,S
251,1143,0,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.00,0,0,SOTON/O2 3101284,7.9250,NaN,S
253,1145,0,3,"Salander, Mr. Karl Johan",male,24.00,0,0,7266,9.3250,NaN,S
254,1146,0,3,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000,NaN,S
255,1147,0,3,"MacKay, Mr. George William",male,NaN,0,0,C.A. 42795,7.5500,NaN,S
256,1148,0,3,"Mahon, Mr. John",male,NaN,0,0,AQ/4 3130,7.7500,NaN,Q
257,1149,0,3,"Niklasson, Mr. Samuel",male,28.00,0,0,363611,8.0500,NaN,S
258,1150,1,2,"Bentham, Miss. Lilian W",female,19.00,0,0,28404,13.0000,NaN,S
259,1151,0,3,"Midtsjo, Mr. Karl Albert",male,21.00,0,0,345501,7.7750,NaN,S
260,1152,0,3,"de Messemaeker, Mr. Guillaume Joseph",male,36.50,1,0,345572,17.4000,NaN,S
261,1153,0,3,"Nilsson, Mr. August Ferdinand",male,21.00,0,0,350410,7.8542,NaN,S
262,1154,1,2,"Wells, Mrs. Arthur Henry (Addie"" Dart Trevaskis)""",female,29.00,0,2,29103,23.0000,NaN,S
263,1155,1,3,"Klasen, Miss. Gertrud Emilia",female,1.00,1,1,350405,12.1833,NaN,S
264,1156,0,2,"Portaluppi, Mr. Emilio Ilario Giuseppe",male,30.00,0,0,C.A. 34644,12.7375,NaN,C
265,1157,0,3,"Lyntakoff, Mr. Stanko",male,NaN,0,0,349235,7.8958,NaN,S
266,1158,0,1,"Chisholm, Mr. Roderick Robert Crispin",male,NaN,0,0,112051,0.0000,NaN,S
267,1159,0,3,"Warren, Mr. Charles William",male,NaN,0,0,C.A. 49867,7.5500,NaN,S
268,1160,1,3,"Howard, Miss. May Elizabeth",female,NaN,0,0,A. 2. 39186,8.0500,NaN,S
269,1161,0,3,"Pokrnic, Mr. Mate",male,17.00,0,0,315095,8.6625,NaN,S
271,1163,0,3,"Fox, Mr. Patrick",male,NaN,0,0,368573,7.7500,NaN,Q
273,1165,1,3,"Lennon, Miss. Mary",female,NaN,1,0,370371,15.5000,NaN,Q
274,1166,0,3,"Saade, Mr. Jean Nassr",male,NaN,0,0,2676,7.2250,NaN,C
275,1167,1,2,"Bryhl, Miss. Dagmar Jenny Ingeborg",female,20.00,1,0,236853,26.0000,NaN,S
276,1168,0,2,"Parker, Mr. Clifford Richard",male,28.00,0,0,SC 14888,10.5000,NaN,S
277,1169,0,2,"Faunthorpe, Mr. Harry",male,40.00,1,0,2926,26.0000,NaN,S
278,1170,0,2,"Ware, Mr. John James",male,30.00,1,0,CA 31352,21.0000,NaN,S
279,1171,0,2,"Oxenham, Mr. Percy Thomas",male,22.00,0,0,W./C. 14260,10.5000,NaN,S
280,1172,1,3,"Oreskovic, Miss. Jelka",female,23.00,0,0,315085,8.6625,NaN,S
281,1173,0,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
282,1174,1,3,"Fleming, Miss. Honora",female,NaN,0,0,364859,7.7500,NaN,Q
283,1175,1,3,"Touma, Miss. Maria Youssef",female,9.00,1,1,2650,15.2458,NaN,C
284,1176,1,3,"Rosblom, Miss. Salli Helena",female,2.00,1,1,370129,20.2125,NaN,S
285,1177,0,3,"Dennis, Mr. William",male,36.00,0,0,A/5 21175,7.2500,NaN,S
286,1178,0,3,"Franklin, Mr. Charles (Charles Fardon)",male,NaN,0,0,SOTON/O.Q. 3101314,7.2500,NaN,S
289,1181,0,3,"Ford, Mr. Arthur",male,NaN,0,0,A/5 1478,8.0500,NaN,S
290,1182,0,1,"Rheims, Mr. George Alexander Lucien",male,NaN,0,0,PC 17607,39.6000,NaN,S
291,1183,1,3,"Daly, Miss. Margaret Marcella Maggie""""",female,30.00,0,0,382650,6.9500,NaN,Q
292,1184,0,3,"Nasr, Mr. Mustafa",male,NaN,0,0,2652,7.2292,NaN,C
294,1186,0,3,"Wittevrongel, Mr. Camille",male,36.00,0,0,345771,9.5000,NaN,S
295,1187,0,3,"Angheloff, Mr. Minko",male,26.00,0,0,349202,7.8958,NaN,S
296,1188,1,2,"Laroche, Miss. Louise",female,1.00,1,2,SC/Paris 2123,41.5792,NaN,C
297,1189,0,3,"Samaan, Mr. Hanna",male,NaN,2,0,2662,21.6792,NaN,C
298,1190,0,1,"Loring, Mr. Joseph Holland",male,30.00,0,0,113801,45.5000,NaN,S
299,1191,0,3,"Johansson, Mr. Nils",male,29.00,0,0,347467,7.8542,NaN,S
300,1192,0,3,"Olsson, Mr. Oscar Wilhelm",male,32.00,0,0,347079,7.7750,NaN,S
302,1194,0,2,"Phillips, Mr. Escott Robert",male,43.00,0,1,S.O./P.P. 2,21.0000,NaN,S
303,1195,0,3,"Pokrnic, Mr. Tome",male,24.00,0,0,315092,8.6625,NaN,S
304,1196,1,3,"McCarthy, Miss. Catherine Katie""""",female,NaN,0,0,383123,7.7500,NaN,Q
307,1199,0,3,"Aks, Master. Philip Frank",male,0.83,0,1,392091,9.3500,NaN,S
309,1201,1,3,"Hansen, Mrs. Claus Peter (Jennie L Howard)",female,45.00,1,0,350026,14.1083,NaN,S
310,1202,0,3,"Cacic, Mr. Jego Grga",male,18.00,0,0,315091,8.6625,NaN,S
311,1203,0,3,"Vartanian, Mr. David",male,22.00,0,0,2658,7.2250,NaN,C
312,1204,0,3,"Sadowitz, Mr. Harry",male,NaN,0,0,LP 1588,7.5750,NaN,S
313,1205,1,3,"Carr, Miss. Jeannie",female,37.00,0,0,368364,7.7500,NaN,Q
315,1207,1,3,"Hagardon, Miss. Kate",female,17.00,0,0,AQ/3. 30631,7.7333,NaN,Q
317,1209,0,2,"Rogers, Mr. Reginald Harry",male,19.00,0,0,28004,10.5000,NaN,S
318,1210,0,3,"Jonsson, Mr. Nils Hilding",male,27.00,0,0,350408,7.8542,NaN,S
319,1211,0,2,"Jefferys, Mr. Ernest Wilfred",male,22.00,2,0,C.A. 31029,31.5000,NaN,S
320,1212,0,3,"Andersson, Mr. Johan Samuel",male,26.00,0,0,347075,7.7750,NaN,S
323,1215,0,1,"Rowe, Mr. Alfred G",male,33.00,0,0,113790,26.5500,NaN,S

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [9]:
survived=data[data['Survived']==1]
survived
survived.shape

(152, 12)

In [10]:
fare=data[data['Fare'].isnull()]
fare

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
152,1044,0,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [11]:
male=data[data['Sex']=='male']
male.shape

(266, 12)

In [12]:
female=data[data['Sex']=='female']
print(female[['Name','Age','Embarked']])

                                                  Name    Age Embarked
1                     Wilkes, Mrs. James (Ellen Needs)  47.00        S
4         Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.00        S
6                                 Connolly, Miss. Kate  30.00        Q
8            Abrahim, Mrs. Joseph (Sophie Halaut Easu)  18.00        C
12       Snyder, Mrs. John Pillsbury (Nelle Stevenson)  23.00        S
14   Chaffee, Mrs. Herbert Fuller (Carrie Constance...  47.00        S
15       del Carlo, Mrs. Sebastiano (Argenia Genovesi)  24.00        C
18                        Ilmakangas, Miss. Ida Livija  27.00        S
19               Assaf Khalil, Mrs. Mariana (Miriam")"  45.00        C
22                Flegenheim, Mrs. Alfred (Antoinette)    NaN        S
24     Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  48.00        C
26                        Ostby, Miss. Helene Ragnhild  22.00        C
32            Dean, Mrs. Bertram (Eva Georgetta Light)  33.00        S
33   Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"    NaN        S
36                                 Roth, Miss. Sarah A    NaN        S
37                                  Cacic, Miss. Manda  21.00        S
43               Corbett, Mrs. Walter H (Irene Colvin)  30.00        S
44    Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)  45.00        S
48     Bucknell, Mrs. William Robert (Emma Eliza Ward)  60.00        C
49      Coutts, Mrs. William (Winnie Minnie" Treanor)"  36.00        S
52                       Hocking, Miss. Ellen Nellie""  20.00        S
53                          Fortune, Miss. Ethel Flora  28.00        S
59                         Chaudanson, Miss. Victorine  36.00        C
63                        Bradley, Miss. Bridget Delia  22.00        Q
65   Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...    NaN        S
66                             Burns, Miss. Mary Delia  18.00        Q
69                 Fortune, Mrs. Mark (Mary McDougald)  60.00        S
70                           Mulvihill, Miss. Bertha E  24.00        Q
72                      Nieminen, Miss. Manta Josefina  29.00        S
74                                Geiger, Miss. Amalie  35.00        C
77   Cornell, Mrs. Robert Clifford (Malvina Helen L...  55.00        S
79                              Doyle, Miss. Elizabeth  24.00        Q
86                                  Barry, Miss. Julia  27.00        Q
87                          Badman, Miss. Emily Louisa  18.00        S
88                             O'Donoghue, Ms. Bridget    NaN        Q
90   Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...  22.00        S
92                Davidson, Mrs. Thornton (Orian Hays)  27.00        S
96   Cavendish, Mrs. Tyrell William (Julia Florence...  76.00        S
98                        Braf, Miss. Elin Ester Maria  20.00        S
100  Stengel, Mrs. Charles Emil Henry (Annie May Mo...  43.00        C
104          Thomas, Mrs. Alexander (Thamine Thelma")"  16.00        C
111                         Shine, Miss. Ellen Natalia    NaN        Q
112                           Evans, Miss. Edith Corse  36.00        C
113                           Buckley, Miss. Katherine  18.50        Q
114             Straus, Mrs. Isidor (Rosalie Ida Blun)  63.00        S
117                    Sandstrom, Miss. Beatrice Irene   1.00        S
119    Chapman, Mrs. John Henry (Sara Elizabeth Lawry)  29.00        S
120                               Watt, Miss. Bertha J  12.00        S
122                    Schabert, Mrs. Paul (Emma Mock)  35.00        C
125                           Cribb, Miss. Laura Alice  17.00        S
127                                McCoy, Miss. Alicia    NaN        Q
132                      Lefebre, Mrs. Frank (Frances)    NaN        S
138                              Drapkin, Miss. Jennie  23.00        S
140                        Goodwin, Miss. Jessie Allis  10.00        S
141                               Daniels, Miss. Sarah  33.00        S
150              Earnshaw, Mrs. Boulton (Olive Potter)  23.00        C
153     Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)  36.00        S
156                                  Bird, Miss. Ellen  29.00        S
157                           Lundin, Miss. Olga Elida  23.00        S
159                Peacock, Mrs. Benjamin (Edith Nile)  26.00        S
160                                 Smyth, Miss. Julia    NaN        Q
162                               Wright, Miss. Marion  26.00        S
165         Kink-Heilmann, Mrs. Anton (Luise Heilmann)  26.00        S
168  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...    NaN        C
169                       Hellstrom, Miss. Hilda Maria  22.00        S
175                          Brown, Miss. Edith Eileen  15.00        S
176                               Sincock, Miss. Maude  20.00        S
178   Becker, Mrs. Allen Oliver (Nellie E Baumgardner)  36.00        S
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  64.00        C
182  Marvin, Mrs. Daniel Warner (Mary Graham Carmic...  18.00        S
184  Douglas, Mrs. Frederick Charles (Mary Helene B...  27.00        C
186               Phillips, Miss. Alice Frances Louisa  21.00        S
188                                    Sage, Miss. Ada    NaN        S
197                        Nilsson, Miss. Berta Olivia  18.00        S
199            Rasmussen, Mrs. (Lena Jacobsen Solvang)    NaN        S
200                                 Murphy, Miss. Nora    NaN        Q
203                         Quick, Miss. Winifred Vera   8.00        S
206                           McGowan, Miss. Katherine  35.00        Q
208                      Rosenbaum, Miss. Edith Louise  33.00        C
213       Howard, Mrs. Benjamin (Ellen Truelove Arman)  60.00        S
214             Andersson, Miss. Ida Augusta Margareta  38.00        S
216                         Mahon, Miss. Bridget Delia    NaN        Q
218       Widener, Mrs. George Dunton (Eleanor Elkins)  50.00        C
220                     Duran y More, Miss. Florentina  30.00        C
222                         Cook, Mrs. (Selena Rogers)  22.00        S
224   Candee, Mrs. Edward (Helen Churchill Hungerford)  53.00        C
225   Moubarek, Mrs. George (Omine Amenia" Alexander)"    NaN        C
227                             McNeill, Miss. Bridget    NaN        Q
231                           Willard, Miss. Constance  21.00        S
238                              Hiltunen, Miss. Marta  18.00        S
239        Douglas, Mrs. Walter Donald (Mahala Dutton)  48.00        C
240          Lindstrom, Mrs. Carl Johan (Sigrid Posse)  55.00        C
241                      Christy, Mrs. (Alice Frances)  45.00        S
246              Karnes, Mrs. J Frank (Claire Bennett)  22.00        S
248           Hold, Mrs. Stephen (Annie Margaret Hill)  29.00        S
249          Khalil, Mrs. Betros (Zahie Maria" Elias)"    NaN        C
250                              West, Miss. Barbara J   0.92        S
258                            Bentham, Miss. Lilian W  19.00        S
262  Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)"  29.00        S
263                       Klasen, Miss. Gertrud Emilia   1.00        S
268                        Howard, Miss. May Elizabeth    NaN        S
272      Clark, Mrs. Walter Miller (Virginia McDowell)  26.00        C
273                                 Lennon, Miss. Mary    NaN        Q
275                Bryhl, Miss. Dagmar Jenny Ingeborg   20.00        S
280                             Oreskovic, Miss. Jelka  23.00        S
282                              Fleming, Miss. Honora    NaN        Q
283                         Touma, Miss. Maria Youssef   9.00        C
284                        Rosblom, Miss. Salli Helena   2.00        S
291             Daly, Miss. Margaret Marcella Maggie""  30.00        Q
296                              Laroche, Miss. Louise   1.00        C
304                  McCarthy, Miss. Catherine Katie""    NaN        Q
305  Crosby, Mrs. Edward Gifford (Catherine Elizabe...  64.00        S
309         Hansen, Mrs. Claus Peter (Jennie L Howard)  45.00        S
313                                Carr, Miss. Jeannie  37.00        Q
314              White, Mrs. John Stuart (Ella Holmes)  55.00        C
315                               Hagardon, Miss. Kate  17.00        Q
324                             Kreuchen, Miss. Emilie  39.00        S
326                       Becker, Miss. Ruth Elizabeth  12.00        S
330  Davies, Mrs. John Morgan (Elizabeth Agnes Mary...  48.00        S
333              Nakid, Mrs. Said (Waika Mary" Mowad)"  19.00        C
343  Cardeza, Mrs. James Warburton Martinez (Charlo...  58.00        C
345                        Abelseth, Miss. Karen Marie  16.00        S
347    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)  38.00        C
349                             Walcroft, Miss. Nellie  31.00        S
350       Greenfield, Mrs. Leo David (Blanche Strouse)  45.00        C
354            Dean, Miss. Elizabeth Gladys Millvina""   0.17        S
356     Brown, Mrs. John Murray (Caroline Lane Lamson)  59.00        S
359  Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...  30.00        S
361            Mallet, Mrs. Albert (Antoinette Magnin)  24.00        C
362       Ware, Mrs. John James (Florence Louise Long)  31.00        S
364       Harder, Mrs. George Achilles (Dorothy Annan)  25.00        C
365                     Sage, Mrs. John (Annie Bullen)    NaN        S
367       Riihivouri, Miss. Susanna Juhantytar Sanni""  22.00        S
368            Gibson, Mrs. Leonard (Pauline C Boeson)  45.00        C
371                          Wilson, Miss. Helen Alice  31.00        C
374              Dodge, Mrs. Washington (Ruth Vidaver)  54.00        S
375                           Bowen, Miss. Grace Scott  45.00        C
376                                  Kink, Miss. Maria  22.00        S
382                         Risien, Mrs. Samuel (Emma)    NaN        S
383                McNamee, Mrs. Neal (Eileen O'Leary)  19.00        S
385                                 Herman, Miss. Kate  24.00        S
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  51.00        S
395     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  18.00        S
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  48.00        C
400                            Bonnell, Miss. Caroline  30.00        S
402                     Gibson, Miss. Dorothy Winifred  22.00        C
408                    Riordan, Miss. Johanna Hannah""    NaN        Q
409                          Peacock, Miss. Treasteall   3.00        S
410                             Naughton, Miss. Hannah    NaN        Q
411    Minahan, Mrs. William Edward (Lillian E Thorpe)  37.00        Q
412                     Henriksson, Miss. Jenny Lovisa  28.00        S
414                       Oliva y Ocana, Dona. Fermina  39.00        C

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [14]:
df=pd.read_csv('C:\\Users\\RASIK AHMAD DAR\\Downloads\\accident.csv')
df.head()

   Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
0   56  Female             27.0          No            No         1
1   69  Female             46.0          No           Yes         1
2   46    Male             46.0         Yes           Yes         0
3   32    Male            117.0          No           Yes         0
4   60  Female             40.0         Yes           Yes         0

In [15]:
address=data.head(199)
address.shape
address
df.info()
df['Accident Place']=address['Name']
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              200 non-null    int64
 1   Gender           199 non-null    object
 2   Speed_of_Impact  197 non-null    float64
 3   Helmet_Used      200 non-null    object
 4   Seatbelt_Used    200 non-null    object
 5   Survived         200 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 9.5+ KB

,Age,Gender,Speed_of_Impact,Helmet_Used,Seatbelt_Used,Survived,Accident Place
0,56,Female,27.0,No,No,1,"Kelly, Mr. James"
1,69,Female,46.0,No,Yes,1,"Wilkes, Mrs. James (Ellen Needs)"
2,46,Male,46.0,Yes,Yes,0,"Myles, Mr. Thomas Francis"
3,32,Male,117.0,No,Yes,0,"Wirz, Mr. Albert"
4,60,Female,40.0,Yes,Yes,0,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)"
5,25,Male,49.0,Yes,Yes,1,"Svensson, Mr. Johan Cervin"
6,38,Male,116.0,Yes,Yes,1,"Connolly, Miss. Kate"
7,56,Male,47.0,Yes,Yes,1,"Caldwell, Mr. Albert Francis"
8,36,Female,83.0,Yes,No,1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)"
9,40,Female,116.0,Yes,No,1,"Davies, Mr. John Samuel"
10,28,Female,88.0,No,Yes,1,"Ilieff, Mr. Ylio"
11,28,Male,80.0,Yes,Yes,1,"Jones, Mr. Charles Cresson"
12,41,Male,67.0,Yes,No,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)"
13,53,Female,38.0,Yes,Yes,1,"Howard, Mr. Benjamin"
14,57,Female,23.0,No,Yes,0,"Chaffee, Mrs. Herbert Fuller (Carrie Constance..."
15,41,Female,NaN,No,No,0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)"
16,20,Female,83.0,Yes,Yes,0,"Keane, Mr. Daniel"
17,39,Male,68.0,No,No,0,"Assaf, Mr. Gerios"
18,19,Female,36.0,Yes,Yes,1,"Ilmakangas, Miss. Ida Livija"
19,41,Male,NaN,Yes,No,1,"Assaf Khalil, Mrs. Mariana (Miriam"")"""
20,61,Female,111.0,No,No,0,"Rothschild, Mr. Martin"
21,47,Male,49.0,Yes,No,1,"Olsen, Master. Artur Karl"
22,55,Female,112.0,No,Yes,0,"Flegenheim, Mrs. Alfred (Antoinette)"
23,19,Female,65.0,No,No,1,"Williams, Mr. Richard Norris II"
24,38,Female,25.0,Yes,Yes,0,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)"
25,50,Female,118.0,Yes,Yes,1,"Robins, Mr. Alexander A"
26,29,Male,56.0,No,Yes,1,"Ostby, Miss. Helene Ragnhild"
27,39,Female,43.0,Yes,Yes,0,"Daher, Mr. Shedid"
28,61,Male,112.0,Yes,No,1,"Brady, Mr. John Bertram"
29,42,Male,NaN,Yes,No,0,"Samaan, Mr. Elias"
30,66,NaN,72.0,No,Yes,0,"Louch, Mr. Charles Alexander"
31,44,Male,114.0,No,Yes,0,"Jefferys, Mr. Clifford Thomas"
32,59,Female,118.0,Yes,No,0,"Dean, Mrs. Bertram (Eva Georgetta Light)"
33,45,Male,79.0,No,Yes,1,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)"""
34,33,Male,116.0,No,No,1,"Mock, Mr. Philipp Edmund"
35,32,Male,82.0,No,Yes,1,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")"""
36,64,Female,104.0,No,Yes,0,"Roth, Miss. Sarah A"
37,68,Female,51.0,No,No,1,"Cacic, Miss. Manda"
38,61,Female,106.0,Yes,Yes,0,"Sap, Mr. Julius"
39,69,Female,52.0,Yes,No,1,"Hee, Mr. Ling"
40,20,Male,86.0,Yes,Yes,1,"Karun, Mr. Franz"
41,54,Male,37.0,No,Yes,1,"Franklin, Mr. Thomas Parham"
42,68,Female,44.0,No,Yes,0,"Goldsmith, Mr. Nathan"
43,24,Male,114.0,Yes,No,1,"Corbett, Mrs. Walter H (Irene Colvin)"
44,38,Male,73.0,No,Yes,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)"
45,26,Male,77.0,Yes,Yes,0,"Peltomaki, Mr. Nikolai Johannes"
46,56,Female,86.0,Yes,Yes,1,"Chevre, Mr. Paul Romaine"
47,35,Female,65.0,Yes,Yes,0,"Shaughnessy, Mr. Patrick"
48,21,Male,43.0,No,No,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)"
49,42,Female,51.0,No,No,0,"Coutts, Mrs. William (Winnie Minnie"" Treanor)"""
50,31,Female,66.0,Yes,Yes,0,"Smith, Mr. Lucien Philip"
51,67,Female,105.0,Yes,No,1,"Pulbaum, Mr. Franz"
52,26,Female,42.0,Yes,Yes,0,"Hocking, Miss. Ellen Nellie"""""
53,43,Female,85.0,Yes,Yes,0,"Fortune, Miss. Ethel Flora"
54,19,Male,46.0,No,Yes,0,"Mangiavacchi, Mr. Serafino Emilio"
55,37,Female,21.0,No,No,0,"Rice, Master. Albert"
56,45,Male,109.0,Yes,No,0,"Cor, Mr. Bartol"
57,64,Male,36.0,Yes,No,0,"Abelseth, Mr. Olaus Jorgensen"
58,24,Female,52.0,No,No,1,"Davison, Mr. Thomas Henry"
59,61,Male,28.0,No,No,0,"Chaudanson, Miss. Victorine"
60,25,Male,62.0,Yes,No,0,"Dika, Mr. Mirko"
61,64,Male,67.0,Yes,No,1,"McCrae, Mr. Arthur Gordon"
62,52,Female,58.0,Yes,No,1,"Bjorklund, Mr. Ernst Herbert"
63,31,Female,112.0,No,No,1,"Bradley, Miss. Bridget Delia"
64,34,Male,61.0,No,Yes,1,"Ryerson, Master. John Borie"
65,53,Female,45.0,No,No,1,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi..."
66,67,Female,118.0,Yes,No,1,"Burns, Miss. Mary Delia"
67,57,Female,69.0,Yes,No,1,"Moore, Mr. Clarence Bloomfield"
68,21,Female,44.0,No,No,0,"Tucker, Mr. Gilbert Milligan Jr"
69,19,Male,43.0,No,No,0,"Fortune, Mrs. Mark (Mary McDougald)"
70,23,Male,32.0,Yes,No,1,"Mulvihill, Miss. Bertha E"
71,59,Female,79.0,No,No,0,"Minkoff, Mr. Lazar"
72,21,Female,26.0,No,No,0,"Nieminen, Miss. Manta Josefina"
73,46,Male,76.0,Yes,No,0,"Ovies y Rodriguez, Mr. Servando"
74,35,Male,55.0,No,No,1,"Geiger, Miss. Amalie"
75,43,Female,64.0,Yes,No,1,"Keeping, Mr. Edwin"
76,61,Male,39.0,Yes,Yes,0,"Miles, Mr. Frank"
77,51,Female,84.0,Yes,Yes,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L..."
78,27,Female,27.0,Yes,No,0,"Aldworth, Mr. Charles Augustus"
79,53,Male,35.0,Yes,No,0,"Doyle, Miss. Elizabeth"
80,31,Male,33.0,Yes,Yes,0,"Boulos, Master. Akar"
81,48,Female,95.0,Yes,No,0,"Straus, Mr. Isidor"
82,65,Female,106.0,No,Yes,1,"Case, Mr. Howard Brown"
83,32,Male,34.0,Yes,Yes,1,"Demetri, Mr. Marinko"
84,25,Female,111.0,Yes,Yes,1,"Lamb, Mr. John Joseph"
85,31,Male,117.0,No,Yes,0,"Khalil, Mr. Betros"
86,40,Female,85.0,No,Yes,1,"Barry, Miss. Julia"
87,57,Male,51.0,No,No,0,"Badman, Miss. Emily Louisa"
88,38,Male,106.0,Yes,Yes,1,"O'Donoghue, Ms. Bridget"
89,33,Male,82.0,No,No,0,"Wells, Master. Ralph Lester"
90,62,Female,105.0,Yes,No,0,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi..."
91,35,Female,70.0,Yes,Yes,0,"Pedersen, Mr. Olaf"
92,64,Male,44.0,Yes,Yes,1,"Davidson, Mrs. Thornton (Orian Hays)"
93,41,Female,77.0,Yes,No,1,"Guest, Mr. Robert"
94,43,Male,82.0,No,Yes,1,"Birnbaum, Mr. Jakob"
95,42,Male,81.0,No,Yes,1,"Tenglin, Mr. Gunnar Isidor"
96,62,Female,41.0,Yes,No,0,"Cavendish, Mrs. Tyrell William (Julia Florence..."
97,58,Female,77.0,Yes,No,1,"Makinen, Mr. Kalle Edvard"
98,46,Male,77.0,Yes,Yes,1,"Braf, Miss. Elin Ester Maria"
99,32,Female,105.0,No,No,0,"Nancarrow, Mr. William Henry"
100,62,Female,68.0,Yes,Yes,0,"Stengel, Mrs. Charles Emil Henry (Annie May Mo..."
101,18,Male,71.0,Yes,Yes,0,"Weisz, Mr. Leopold"
102,42,Male,61.0,No,Yes,1,"Foley, Mr. William"
103,24,Female,89.0,No,No,0,"Johansson Palmquist, Mr. Oskar Leander"
104,26,Male,34.0,Yes,No,0,"Thomas, Mrs. Alexander (Thamine Thelma"")"""
105,41,Male,73.0,No,No,0,"Holthen, Mr. Johan Martin"
106,18,Female,79.0,No,No,1,"Buckley, Mr. Daniel"
107,61,Male,116.0,Yes,No,0,"Ryan, Mr. Edward"
108,25,Male,27.0,No,Yes,1,"Willer, Mr. Aaron (Abi Weller"")"""
109,41,Female,72.0,Yes,Yes,1,"Swane, Mr. George"
110,28,Female,79.0,No,Yes,0,"Stanton, Mr. Samuel Ward"
111,68,Male,24.0,Yes,Yes,0,"Shine, Miss. Ellen Natalia"
112,34,Male,87.0,Yes,No,1,"Evans, Miss. Edith Corse"
113,25,Female,25.0,Yes,Yes,0,"Buckley, Miss. Katherine"
114,52,Female,115.0,No,No,0,"Straus, Mrs. Isidor (Rosalie Ida Blun)"
115,52,Female,113.0,Yes,Yes,1,"Chronopoulos, Mr. Demetrios"
116,50,Female,66.0,No,No,1,"Thomas, Mr. John"
117,22,Male,118.0,Yes,No,0,"Sandstrom, Miss. Beatrice Irene"
118,59,Female,74.0,Yes,Yes,1,"Beattie, Mr. Thomson"
119,56,Female,59.0,No,Yes,0,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)"
120,58,Male,71.0,Yes,Yes,0,"Watt, Miss. Bertha J"
121,45,Female,35.0,Yes,Yes,0,"Kiernan, Mr. John"
122,24,Male,32.0,No,No,1,"Schabert, Mrs. Paul (Emma Mock)"
123,26,Female,49.0,Yes,Yes,0,"Carver, Mr. Alfred John"
124,25,Female,38.0,Yes,Yes,0,"Kennedy, Mr. John"
125,29,Female,36.0,Yes,No,0,"Cribb, Miss. Laura Alice"
126,51,Male,82.0,Yes,Yes,1,"Brobeck, Mr. Karl Rudolf"
127,50,Male,38.0,No,Yes,1,"McCoy, Miss. Alicia"
128,65,Female,111.0,No,Yes,1,"Bowenur, Mr. Solomon"
129,40,Male,77.0,Yes,Yes,1,"Petersen, Mr. Marius"
130,41,Male,74.0,No,Yes,1,"Spinner, Mr. Henry John"
131,54,Male,109.0,Yes,No,0,"Gracie, Col. Archibald IV"
132,52,Male,109.0,No,Yes,1,"Lefebre, Mrs. Frank (Frances)"
133,61,Male,81.0,Yes,Yes,1,"Thomas, Mr. Charles P"
134,57,Male,42.0,Yes,Yes,1,"Dintcheff, Mr. Valtcho"
135,39,Female,28.0,Yes,Yes,0,"Carlsson, Mr. Carl Robert"
136,44,Female,31.0,Yes,Yes,1,"Zakarian, Mr. Mapriededer"
137,52,Male,20.0,Yes,No,1,"Schmidt, Mr. August"
138,18,Female,77.0,Yes,Yes,0,"Drapkin, Miss. Jennie"
139,52,Female,20.0,No,No,1,"Goodwin, Mr. Charles Frederick"
140,54,Female,53.0,Yes,No,0,"Goodwin, Miss. Jessie Allis"
141,64,Female,115.0,No,Yes,0,"Daniels, Miss. Sarah"
142,31,Male,67.0,Yes,Yes,0,"Ryerson, Mr. Arthur Larned"
143,20,Female,108.0,No,Yes,0,"Beauchamp, Mr. Henry James"
144,18,Female,20.0,No,Yes,0,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin..."
145,22,Male,35.0,No,No,1,"Vander Planke, Mr. Julius"
146,43,Male,80.0,Yes,Yes,0,"Hilliard, Mr. Herbert Henry"
147,31,Female,83.0,Yes,Yes,0,"Davies, Mr. Evan"
148,56,Female,82.0,No,Yes,1,"Crafton, Mr. John Bertram"
149,44,Female,88.0,Yes,Yes,0,"Lahtinen, Rev. William"
150,26,Female,41.0,No,Yes,1,"Earnshaw, Mrs. Boulton (Olive Potter)"
151,32,Female,112.0,Yes,Yes,1,"Matinoff, Mr. Nicola"
152,32,Female,86.0,No,No,1,"Storey, Mr. Thomas"
153,43,Male,95.0,No,No,0,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)"
154,59,Female,45.0,Yes,Yes,0,"Asplund, Master. Filip Oscar"
155,30,Female,35.0,No,Yes,0,"Duquemin, Mr. Joseph"
156,68,Male,70.0,Yes,Yes,1,"Bird, Miss. Ellen"
157,49,Male,105.0,No,No,0,"Lundin, Miss. Olga Elida"
158,56,Male,76.0,No,Yes,0,"Borebank, Mr. John James"
159,66,Male,48.0,Yes,No,0,"Peacock, Mrs. Benjamin (Edith Nile)"
160,69,Female,97.0,Yes,Yes,1,"Smyth, Miss. Julia"
161,49,Female,111.0,Yes,Yes,1,"Touma, Master. Georges Youssef"
162,21,Female,88.0,No,Yes,0,"Wright, Miss. Marion"
163,47,Female,66.0,Yes,Yes,0,"Pearce, Mr. Ernest"
164,54,Female,113.0,No,No,0,"Peruschitz, Rev. Joseph Maria"
165,40,Female,81.0,No,No,0,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)"
166,56,Male,88.0,Yes,Yes,1,"Brandeis, Mr. Emil"
167,62,Female,95.0,Yes,Yes,1,"Ford, Mr. Edward Watson"
168,32,Male,35.0,No,No,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev..."
169,60,Male,109.0,No,No,1,"Hellstrom, Miss. Hilda Maria"
170,46,Female,109.0,Yes,No,0,"Lithman, Mr. Simon"
171,53,Male,67.0,Yes,No,0,"Zakarian, Mr. Ortin"
172,30,Female,104.0,Yes,Yes,0,"Dyker, Mr. Adolf Fredrik"
173,49,Male,58.0,Yes,No,1,"Torfa, Mr. Assad"
174,24,Female,119.0,Yes,Yes,0,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson"
175,68,Male,52.0,No,No,1,"Brown, Miss. Edith Eileen"
176,39,Female,113.0,No,No,1,"Sincock, Miss. Maude"
177,45,Female,42.0,No,No,0,"Stengel, Mr. Charles Emil Henry"
178,19,Female,29.0,No,No,0,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)"
179,59,Female,88.0,Yes,No,0,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing..."
180,62,Female,119.0,Yes,Yes,1,"McCrie, Mr. James Matthew"
181,23,Male,53.0,Yes,Yes,0,"Compton, Mr. Alexander Taylor Jr"
182,45,Male,71.0,No,No,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic..."
183,45,Male,114.0,No,No,0,"Lane, Mr. Patrick"
184,61,Female,29.0,Yes,Yes,1,"Douglas, Mrs. Frederick Charles (Mary Helene B..."
185,61,Male,38.0,Yes,No,1,"Maybery, Mr. Frank Hubert"
186,37,Female,77.0,No,No,0,"Phillips, Miss. Alice Frances Louisa"
187,47,Female,115.0,No,Yes,1,"Davies, Mr. Joseph"
188,28,Male,20.0,Yes,No,1,"Sage, Miss. Ada"
189,45,Male,88.0,Yes,No,0,"Veal, Mr. James"
190,42,Female,23.0,No,Yes,1,"Angle, Mr. William A"
191,56,Male,35.0,Yes,Yes,0,"Salomon, Mr. Abraham L"
192,50,Female,43.0,Yes,Yes,1,"van Billiard, Master. Walter John"
193,18,Female,99.0,Yes,No,0,"Lingane, Mr. John"
194,44,Female,21.0,No,Yes,0,"Drew, Master. Marshall Brines"
195,69,Female,111.0,No,Yes,1,"Karlsson, Mr. Julius Konrad Eugen"
196,30,Female,51.0,No,Yes,1,"Spedden, Master. Robert Douglas"
197,58,Male,110.0,No,Yes,1,"Nilsson, Miss. Berta Olivia"
198,20,Male,103.0,No,Yes,1,"Baimbrigge, Mr. Charles Robert"
199,56,Female,43.0,No,Yes,1,NaN

In [16]:
df.shape

(200, 7)

In [17]:
female=df[df['Gender']=='Female']
female

,Age,Gender,Speed_of_Impact,Helmet_Used,Seatbelt_Used,Survived,Accident Place
0,56,Female,27.0,No,No,1,"Kelly, Mr. James"
1,69,Female,46.0,No,Yes,1,"Wilkes, Mrs. James (Ellen Needs)"
4,60,Female,40.0,Yes,Yes,0,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)"
8,36,Female,83.0,Yes,No,1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)"
9,40,Female,116.0,Yes,No,1,"Davies, Mr. John Samuel"
10,28,Female,88.0,No,Yes,1,"Ilieff, Mr. Ylio"
13,53,Female,38.0,Yes,Yes,1,"Howard, Mr. Benjamin"
14,57,Female,23.0,No,Yes,0,"Chaffee, Mrs. Herbert Fuller (Carrie Constance..."
15,41,Female,NaN,No,No,0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)"
16,20,Female,83.0,Yes,Yes,0,"Keane, Mr. Daniel"
18,19,Female,36.0,Yes,Yes,1,"Ilmakangas, Miss. Ida Livija"
20,61,Female,111.0,No,No,0,"Rothschild, Mr. Martin"
22,55,Female,112.0,No,Yes,0,"Flegenheim, Mrs. Alfred (Antoinette)"
23,19,Female,65.0,No,No,1,"Williams, Mr. Richard Norris II"
24,38,Female,25.0,Yes,Yes,0,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)"
25,50,Female,118.0,Yes,Yes,1,"Robins, Mr. Alexander A"
27,39,Female,43.0,Yes,Yes,0,"Daher, Mr. Shedid"
32,59,Female,118.0,Yes,No,0,"Dean, Mrs. Bertram (Eva Georgetta Light)"
36,64,Female,104.0,No,Yes,0,"Roth, Miss. Sarah A"
37,68,Female,51.0,No,No,1,"Cacic, Miss. Manda"
38,61,Female,106.0,Yes,Yes,0,"Sap, Mr. Julius"
39,69,Female,52.0,Yes,No,1,"Hee, Mr. Ling"
42,68,Female,44.0,No,Yes,0,"Goldsmith, Mr. Nathan"
46,56,Female,86.0,Yes,Yes,1,"Chevre, Mr. Paul Romaine"
47,35,Female,65.0,Yes,Yes,0,"Shaughnessy, Mr. Patrick"
49,42,Female,51.0,No,No,0,"Coutts, Mrs. William (Winnie Minnie"" Treanor)"""
50,31,Female,66.0,Yes,Yes,0,"Smith, Mr. Lucien Philip"
51,67,Female,105.0,Yes,No,1,"Pulbaum, Mr. Franz"
52,26,Female,42.0,Yes,Yes,0,"Hocking, Miss. Ellen Nellie"""""
53,43,Female,85.0,Yes,Yes,0,"Fortune, Miss. Ethel Flora"
55,37,Female,21.0,No,No,0,"Rice, Master. Albert"
58,24,Female,52.0,No,No,1,"Davison, Mr. Thomas Henry"
62,52,Female,58.0,Yes,No,1,"Bjorklund, Mr. Ernst Herbert"
63,31,Female,112.0,No,No,1,"Bradley, Miss. Bridget Delia"
65,53,Female,45.0,No,No,1,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi..."
66,67,Female,118.0,Yes,No,1,"Burns, Miss. Mary Delia"
67,57,Female,69.0,Yes,No,1,"Moore, Mr. Clarence Bloomfield"
68,21,Female,44.0,No,No,0,"Tucker, Mr. Gilbert Milligan Jr"
71,59,Female,79.0,No,No,0,"Minkoff, Mr. Lazar"
72,21,Female,26.0,No,No,0,"Nieminen, Miss. Manta Josefina"
75,43,Female,64.0,Yes,No,1,"Keeping, Mr. Edwin"
77,51,Female,84.0,Yes,Yes,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L..."
78,27,Female,27.0,Yes,No,0,"Aldworth, Mr. Charles Augustus"
81,48,Female,95.0,Yes,No,0,"Straus, Mr. Isidor"
82,65,Female,106.0,No,Yes,1,"Case, Mr. Howard Brown"
84,25,Female,111.0,Yes,Yes,1,"Lamb, Mr. John Joseph"
86,40,Female,85.0,No,Yes,1,"Barry, Miss. Julia"
90,62,Female,105.0,Yes,No,0,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi..."
91,35,Female,70.0,Yes,Yes,0,"Pedersen, Mr. Olaf"
93,41,Female,77.0,Yes,No,1,"Guest, Mr. Robert"
96,62,Female,41.0,Yes,No,0,"Cavendish, Mrs. Tyrell William (Julia Florence..."
97,58,Female,77.0,Yes,No,1,"Makinen, Mr. Kalle Edvard"
99,32,Female,105.0,No,No,0,"Nancarrow, Mr. William Henry"
100,62,Female,68.0,Yes,Yes,0,"Stengel, Mrs. Charles Emil Henry (Annie May Mo..."
103,24,Female,89.0,No,No,0,"Johansson Palmquist, Mr. Oskar Leander"
106,18,Female,79.0,No,No,1,"Buckley, Mr. Daniel"
109,41,Female,72.0,Yes,Yes,1,"Swane, Mr. George"
110,28,Female,79.0,No,Yes,0,"Stanton, Mr. Samuel Ward"
113,25,Female,25.0,Yes,Yes,0,"Buckley, Miss. Katherine"
114,52,Female,115.0,No,No,0,"Straus, Mrs. Isidor (Rosalie Ida Blun)"
115,52,Female,113.0,Yes,Yes,1,"Chronopoulos, Mr. Demetrios"
116,50,Female,66.0,No,No,1,"Thomas, Mr. John"
118,59,Female,74.0,Yes,Yes,1,"Beattie, Mr. Thomson"
119,56,Female,59.0,No,Yes,0,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)"
121,45,Female,35.0,Yes,Yes,0,"Kiernan, Mr. John"
123,26,Female,49.0,Yes,Yes,0,"Carver, Mr. Alfred John"
124,25,Female,38.0,Yes,Yes,0,"Kennedy, Mr. John"
125,29,Female,36.0,Yes,No,0,"Cribb, Miss. Laura Alice"
128,65,Female,111.0,No,Yes,1,"Bowenur, Mr. Solomon"
135,39,Female,28.0,Yes,Yes,0,"Carlsson, Mr. Carl Robert"
136,44,Female,31.0,Yes,Yes,1,"Zakarian, Mr. Mapriededer"
138,18,Female,77.0,Yes,Yes,0,"Drapkin, Miss. Jennie"
139,52,Female,20.0,No,No,1,"Goodwin, Mr. Charles Frederick"
140,54,Female,53.0,Yes,No,0,"Goodwin, Miss. Jessie Allis"
141,64,Female,115.0,No,Yes,0,"Daniels, Miss. Sarah"
143,20,Female,108.0,No,Yes,0,"Beauchamp, Mr. Henry James"
144,18,Female,20.0,No,Yes,0,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin..."
147,31,Female,83.0,Yes,Yes,0,"Davies, Mr. Evan"
148,56,Female,82.0,No,Yes,1,"Crafton, Mr. John Bertram"
149,44,Female,88.0,Yes,Yes,0,"Lahtinen, Rev. William"
150,26,Female,41.0,No,Yes,1,"Earnshaw, Mrs. Boulton (Olive Potter)"
151,32,Female,112.0,Yes,Yes,1,"Matinoff, Mr. Nicola"
152,32,Female,86.0,No,No,1,"Storey, Mr. Thomas"
154,59,Female,45.0,Yes,Yes,0,"Asplund, Master. Filip Oscar"
155,30,Female,35.0,No,Yes,0,"Duquemin, Mr. Joseph"
160,69,Female,97.0,Yes,Yes,1,"Smyth, Miss. Julia"
161,49,Female,111.0,Yes,Yes,1,"Touma, Master. Georges Youssef"
162,21,Female,88.0,No,Yes,0,"Wright, Miss. Marion"
163,47,Female,66.0,Yes,Yes,0,"Pearce, Mr. Ernest"
164,54,Female,113.0,No,No,0,"Peruschitz, Rev. Joseph Maria"
165,40,Female,81.0,No,No,0,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)"
167,62,Female,95.0,Yes,Yes,1,"Ford, Mr. Edward Watson"
170,46,Female,109.0,Yes,No,0,"Lithman, Mr. Simon"
172,30,Female,104.0,Yes,Yes,0,"Dyker, Mr. Adolf Fredrik"
174,24,Female,119.0,Yes,Yes,0,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson"
176,39,Female,113.0,No,No,1,"Sincock, Miss. Maude"
177,45,Female,42.0,No,No,0,"Stengel, Mr. Charles Emil Henry"
178,19,Female,29.0,No,No,0,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)"
179,59,Female,88.0,Yes,No,0,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing..."
180,62,Female,119.0,Yes,Yes,1,"McCrie, Mr. James Matthew"
184,61,Female,29.0,Yes,Yes,1,"Douglas, Mrs. Frederick Charles (Mary Helene B..."
186,37,Female,77.0,No,No,0,"Phillips, Miss. Alice Frances Louisa"
187,47,Female,115.0,No,Yes,1,"Davies, Mr. Joseph"
190,42,Female,23.0,No,Yes,1,"Angle, Mr. William A"
192,50,Female,43.0,Yes,Yes,1,"van Billiard, Master. Walter John"
193,18,Female,99.0,Yes,No,0,"Lingane, Mr. John"
194,44,Female,21.0,No,Yes,0,"Drew, Master. Marshall Brines"
195,69,Female,111.0,No,Yes,1,"Karlsson, Mr. Julius Konrad Eugen"
196,30,Female,51.0,No,Yes,1,"Spedden, Master. Robert Douglas"
199,56,Female,43.0,No,Yes,1,NaN

In [18]:
female.shape

(110, 7)

In [19]:
survived=female[df['Survived']==1]
survived

C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_12536\160558034.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  survived=female[df['Survived']==1]

,Age,Gender,Speed_of_Impact,Helmet_Used,Seatbelt_Used,Survived,Accident Place
0,56,Female,27.0,No,No,1,"Kelly, Mr. James"
1,69,Female,46.0,No,Yes,1,"Wilkes, Mrs. James (Ellen Needs)"
8,36,Female,83.0,Yes,No,1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)"
9,40,Female,116.0,Yes,No,1,"Davies, Mr. John Samuel"
10,28,Female,88.0,No,Yes,1,"Ilieff, Mr. Ylio"
13,53,Female,38.0,Yes,Yes,1,"Howard, Mr. Benjamin"
18,19,Female,36.0,Yes,Yes,1,"Ilmakangas, Miss. Ida Livija"
23,19,Female,65.0,No,No,1,"Williams, Mr. Richard Norris II"
25,50,Female,118.0,Yes,Yes,1,"Robins, Mr. Alexander A"
37,68,Female,51.0,No,No,1,"Cacic, Miss. Manda"
39,69,Female,52.0,Yes,No,1,"Hee, Mr. Ling"
46,56,Female,86.0,Yes,Yes,1,"Chevre, Mr. Paul Romaine"
51,67,Female,105.0,Yes,No,1,"Pulbaum, Mr. Franz"
58,24,Female,52.0,No,No,1,"Davison, Mr. Thomas Henry"
62,52,Female,58.0,Yes,No,1,"Bjorklund, Mr. Ernst Herbert"
63,31,Female,112.0,No,No,1,"Bradley, Miss. Bridget Delia"
65,53,Female,45.0,No,No,1,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi..."
66,67,Female,118.0,Yes,No,1,"Burns, Miss. Mary Delia"
67,57,Female,69.0,Yes,No,1,"Moore, Mr. Clarence Bloomfield"
75,43,Female,64.0,Yes,No,1,"Keeping, Mr. Edwin"
77,51,Female,84.0,Yes,Yes,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L..."
82,65,Female,106.0,No,Yes,1,"Case, Mr. Howard Brown"
84,25,Female,111.0,Yes,Yes,1,"Lamb, Mr. John Joseph"
86,40,Female,85.0,No,Yes,1,"Barry, Miss. Julia"
93,41,Female,77.0,Yes,No,1,"Guest, Mr. Robert"
97,58,Female,77.0,Yes,No,1,"Makinen, Mr. Kalle Edvard"
106,18,Female,79.0,No,No,1,"Buckley, Mr. Daniel"
109,41,Female,72.0,Yes,Yes,1,"Swane, Mr. George"
115,52,Female,113.0,Yes,Yes,1,"Chronopoulos, Mr. Demetrios"
116,50,Female,66.0,No,No,1,"Thomas, Mr. John"
118,59,Female,74.0,Yes,Yes,1,"Beattie, Mr. Thomson"
128,65,Female,111.0,No,Yes,1,"Bowenur, Mr. Solomon"
136,44,Female,31.0,Yes,Yes,1,"Zakarian, Mr. Mapriededer"
139,52,Female,20.0,No,No,1,"Goodwin, Mr. Charles Frederick"
148,56,Female,82.0,No,Yes,1,"Crafton, Mr. John Bertram"
150,26,Female,41.0,No,Yes,1,"Earnshaw, Mrs. Boulton (Olive Potter)"
151,32,Female,112.0,Yes,Yes,1,"Matinoff, Mr. Nicola"
152,32,Female,86.0,No,No,1,"Storey, Mr. Thomas"
160,69,Female,97.0,Yes,Yes,1,"Smyth, Miss. Julia"
161,49,Female,111.0,Yes,Yes,1,"Touma, Master. Georges Youssef"
167,62,Female,95.0,Yes,Yes,1,"Ford, Mr. Edward Watson"
176,39,Female,113.0,No,No,1,"Sincock, Miss. Maude"
180,62,Female,119.0,Yes,Yes,1,"McCrie, Mr. James Matthew"
184,61,Female,29.0,Yes,Yes,1,"Douglas, Mrs. Frederick Charles (Mary Helene B..."
187,47,Female,115.0,No,Yes,1,"Davies, Mr. Joseph"
190,42,Female,23.0,No,Yes,1,"Angle, Mr. William A"
192,50,Female,43.0,Yes,Yes,1,"van Billiard, Master. Walter John"
195,69,Female,111.0,No,Yes,1,"Karlsson, Mr. Julius Konrad Eugen"
196,30,Female,51.0,No,Yes,1,"Spedden, Master. Robert Douglas"
199,56,Female,43.0,No,Yes,1,NaN

In [20]:
survived.shape

(50, 7)

In [21]:
male=df[df['Gender']=='Male']
male

,Age,Gender,Speed_of_Impact,Helmet_Used,Seatbelt_Used,Survived,Accident Place
2,46,Male,46.0,Yes,Yes,0,"Myles, Mr. Thomas Francis"
3,32,Male,117.0,No,Yes,0,"Wirz, Mr. Albert"
5,25,Male,49.0,Yes,Yes,1,"Svensson, Mr. Johan Cervin"
6,38,Male,116.0,Yes,Yes,1,"Connolly, Miss. Kate"
7,56,Male,47.0,Yes,Yes,1,"Caldwell, Mr. Albert Francis"
11,28,Male,80.0,Yes,Yes,1,"Jones, Mr. Charles Cresson"
12,41,Male,67.0,Yes,No,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)"
17,39,Male,68.0,No,No,0,"Assaf, Mr. Gerios"
19,41,Male,NaN,Yes,No,1,"Assaf Khalil, Mrs. Mariana (Miriam"")"""
21,47,Male,49.0,Yes,No,1,"Olsen, Master. Artur Karl"
26,29,Male,56.0,No,Yes,1,"Ostby, Miss. Helene Ragnhild"
28,61,Male,112.0,Yes,No,1,"Brady, Mr. John Bertram"
29,42,Male,NaN,Yes,No,0,"Samaan, Mr. Elias"
31,44,Male,114.0,No,Yes,0,"Jefferys, Mr. Clifford Thomas"
33,45,Male,79.0,No,Yes,1,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)"""
34,33,Male,116.0,No,No,1,"Mock, Mr. Philipp Edmund"
35,32,Male,82.0,No,Yes,1,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")"""
40,20,Male,86.0,Yes,Yes,1,"Karun, Mr. Franz"
41,54,Male,37.0,No,Yes,1,"Franklin, Mr. Thomas Parham"
43,24,Male,114.0,Yes,No,1,"Corbett, Mrs. Walter H (Irene Colvin)"
44,38,Male,73.0,No,Yes,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)"
45,26,Male,77.0,Yes,Yes,0,"Peltomaki, Mr. Nikolai Johannes"
48,21,Male,43.0,No,No,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)"
54,19,Male,46.0,No,Yes,0,"Mangiavacchi, Mr. Serafino Emilio"
56,45,Male,109.0,Yes,No,0,"Cor, Mr. Bartol"
57,64,Male,36.0,Yes,No,0,"Abelseth, Mr. Olaus Jorgensen"
59,61,Male,28.0,No,No,0,"Chaudanson, Miss. Victorine"
60,25,Male,62.0,Yes,No,0,"Dika, Mr. Mirko"
61,64,Male,67.0,Yes,No,1,"McCrae, Mr. Arthur Gordon"
64,34,Male,61.0,No,Yes,1,"Ryerson, Master. John Borie"
69,19,Male,43.0,No,No,0,"Fortune, Mrs. Mark (Mary McDougald)"
70,23,Male,32.0,Yes,No,1,"Mulvihill, Miss. Bertha E"
73,46,Male,76.0,Yes,No,0,"Ovies y Rodriguez, Mr. Servando"
74,35,Male,55.0,No,No,1,"Geiger, Miss. Amalie"
76,61,Male,39.0,Yes,Yes,0,"Miles, Mr. Frank"
79,53,Male,35.0,Yes,No,0,"Doyle, Miss. Elizabeth"
80,31,Male,33.0,Yes,Yes,0,"Boulos, Master. Akar"
83,32,Male,34.0,Yes,Yes,1,"Demetri, Mr. Marinko"
85,31,Male,117.0,No,Yes,0,"Khalil, Mr. Betros"
87,57,Male,51.0,No,No,0,"Badman, Miss. Emily Louisa"
88,38,Male,106.0,Yes,Yes,1,"O'Donoghue, Ms. Bridget"
89,33,Male,82.0,No,No,0,"Wells, Master. Ralph Lester"
92,64,Male,44.0,Yes,Yes,1,"Davidson, Mrs. Thornton (Orian Hays)"
94,43,Male,82.0,No,Yes,1,"Birnbaum, Mr. Jakob"
95,42,Male,81.0,No,Yes,1,"Tenglin, Mr. Gunnar Isidor"
98,46,Male,77.0,Yes,Yes,1,"Braf, Miss. Elin Ester Maria"
101,18,Male,71.0,Yes,Yes,0,"Weisz, Mr. Leopold"
102,42,Male,61.0,No,Yes,1,"Foley, Mr. William"
104,26,Male,34.0,Yes,No,0,"Thomas, Mrs. Alexander (Thamine Thelma"")"""
105,41,Male,73.0,No,No,0,"Holthen, Mr. Johan Martin"
107,61,Male,116.0,Yes,No,0,"Ryan, Mr. Edward"
108,25,Male,27.0,No,Yes,1,"Willer, Mr. Aaron (Abi Weller"")"""
111,68,Male,24.0,Yes,Yes,0,"Shine, Miss. Ellen Natalia"
112,34,Male,87.0,Yes,No,1,"Evans, Miss. Edith Corse"
117,22,Male,118.0,Yes,No,0,"Sandstrom, Miss. Beatrice Irene"
120,58,Male,71.0,Yes,Yes,0,"Watt, Miss. Bertha J"
122,24,Male,32.0,No,No,1,"Schabert, Mrs. Paul (Emma Mock)"
126,51,Male,82.0,Yes,Yes,1,"Brobeck, Mr. Karl Rudolf"
127,50,Male,38.0,No,Yes,1,"McCoy, Miss. Alicia"
129,40,Male,77.0,Yes,Yes,1,"Petersen, Mr. Marius"
130,41,Male,74.0,No,Yes,1,"Spinner, Mr. Henry John"
131,54,Male,109.0,Yes,No,0,"Gracie, Col. Archibald IV"
132,52,Male,109.0,No,Yes,1,"Lefebre, Mrs. Frank (Frances)"
133,61,Male,81.0,Yes,Yes,1,"Thomas, Mr. Charles P"
134,57,Male,42.0,Yes,Yes,1,"Dintcheff, Mr. Valtcho"
137,52,Male,20.0,Yes,No,1,"Schmidt, Mr. August"
142,31,Male,67.0,Yes,Yes,0,"Ryerson, Mr. Arthur Larned"
145,22,Male,35.0,No,No,1,"Vander Planke, Mr. Julius"
146,43,Male,80.0,Yes,Yes,0,"Hilliard, Mr. Herbert Henry"
153,43,Male,95.0,No,No,0,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)"
156,68,Male,70.0,Yes,Yes,1,"Bird, Miss. Ellen"
157,49,Male,105.0,No,No,0,"Lundin, Miss. Olga Elida"
158,56,Male,76.0,No,Yes,0,"Borebank, Mr. John James"
159,66,Male,48.0,Yes,No,0,"Peacock, Mrs. Benjamin (Edith Nile)"
166,56,Male,88.0,Yes,Yes,1,"Brandeis, Mr. Emil"
168,32,Male,35.0,No,No,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev..."
169,60,Male,109.0,No,No,1,"Hellstrom, Miss. Hilda Maria"
171,53,Male,67.0,Yes,No,0,"Zakarian, Mr. Ortin"
173,49,Male,58.0,Yes,No,1,"Torfa, Mr. Assad"
175,68,Male,52.0,No,No,1,"Brown, Miss. Edith Eileen"
181,23,Male,53.0,Yes,Yes,0,"Compton, Mr. Alexander Taylor Jr"
182,45,Male,71.0,No,No,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic..."
183,45,Male,114.0,No,No,0,"Lane, Mr. Patrick"
185,61,Male,38.0,Yes,No,1,"Maybery, Mr. Frank Hubert"
188,28,Male,20.0,Yes,No,1,"Sage, Miss. Ada"
189,45,Male,88.0,Yes,No,0,"Veal, Mr. James"
191,56,Male,35.0,Yes,Yes,0,"Salomon, Mr. Abraham L"
197,58,Male,110.0,No,Yes,1,"Nilsson, Miss. Berta Olivia"
198,20,Male,103.0,No,Yes,1,"Baimbrigge, Mr. Charles Robert"

In [22]:
male.shape

(89, 7)

In [23]:
survived_male=male[male['Survived']==1]
survived_male

,Age,Gender,Speed_of_Impact,Helmet_Used,Seatbelt_Used,Survived,Accident Place
5,25,Male,49.0,Yes,Yes,1,"Svensson, Mr. Johan Cervin"
6,38,Male,116.0,Yes,Yes,1,"Connolly, Miss. Kate"
7,56,Male,47.0,Yes,Yes,1,"Caldwell, Mr. Albert Francis"
11,28,Male,80.0,Yes,Yes,1,"Jones, Mr. Charles Cresson"
12,41,Male,67.0,Yes,No,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)"
19,41,Male,NaN,Yes,No,1,"Assaf Khalil, Mrs. Mariana (Miriam"")"""
21,47,Male,49.0,Yes,No,1,"Olsen, Master. Artur Karl"
26,29,Male,56.0,No,Yes,1,"Ostby, Miss. Helene Ragnhild"
28,61,Male,112.0,Yes,No,1,"Brady, Mr. John Bertram"
33,45,Male,79.0,No,Yes,1,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)"""
34,33,Male,116.0,No,No,1,"Mock, Mr. Philipp Edmund"
35,32,Male,82.0,No,Yes,1,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")"""
40,20,Male,86.0,Yes,Yes,1,"Karun, Mr. Franz"
41,54,Male,37.0,No,Yes,1,"Franklin, Mr. Thomas Parham"
43,24,Male,114.0,Yes,No,1,"Corbett, Mrs. Walter H (Irene Colvin)"
44,38,Male,73.0,No,Yes,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)"
48,21,Male,43.0,No,No,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)"
61,64,Male,67.0,Yes,No,1,"McCrae, Mr. Arthur Gordon"
64,34,Male,61.0,No,Yes,1,"Ryerson, Master. John Borie"
70,23,Male,32.0,Yes,No,1,"Mulvihill, Miss. Bertha E"
74,35,Male,55.0,No,No,1,"Geiger, Miss. Amalie"
83,32,Male,34.0,Yes,Yes,1,"Demetri, Mr. Marinko"
88,38,Male,106.0,Yes,Yes,1,"O'Donoghue, Ms. Bridget"
92,64,Male,44.0,Yes,Yes,1,"Davidson, Mrs. Thornton (Orian Hays)"
94,43,Male,82.0,No,Yes,1,"Birnbaum, Mr. Jakob"
95,42,Male,81.0,No,Yes,1,"Tenglin, Mr. Gunnar Isidor"
98,46,Male,77.0,Yes,Yes,1,"Braf, Miss. Elin Ester Maria"
102,42,Male,61.0,No,Yes,1,"Foley, Mr. William"
108,25,Male,27.0,No,Yes,1,"Willer, Mr. Aaron (Abi Weller"")"""
112,34,Male,87.0,Yes,No,1,"Evans, Miss. Edith Corse"
122,24,Male,32.0,No,No,1,"Schabert, Mrs. Paul (Emma Mock)"
126,51,Male,82.0,Yes,Yes,1,"Brobeck, Mr. Karl Rudolf"
127,50,Male,38.0,No,Yes,1,"McCoy, Miss. Alicia"
129,40,Male,77.0,Yes,Yes,1,"Petersen, Mr. Marius"
130,41,Male,74.0,No,Yes,1,"Spinner, Mr. Henry John"
132,52,Male,109.0,No,Yes,1,"Lefebre, Mrs. Frank (Frances)"
133,61,Male,81.0,Yes,Yes,1,"Thomas, Mr. Charles P"
134,57,Male,42.0,Yes,Yes,1,"Dintcheff, Mr. Valtcho"
137,52,Male,20.0,Yes,No,1,"Schmidt, Mr. August"
145,22,Male,35.0,No,No,1,"Vander Planke, Mr. Julius"
156,68,Male,70.0,Yes,Yes,1,"Bird, Miss. Ellen"
166,56,Male,88.0,Yes,Yes,1,"Brandeis, Mr. Emil"
168,32,Male,35.0,No,No,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev..."
169,60,Male,109.0,No,No,1,"Hellstrom, Miss. Hilda Maria"
173,49,Male,58.0,Yes,No,1,"Torfa, Mr. Assad"
175,68,Male,52.0,No,No,1,"Brown, Miss. Edith Eileen"
182,45,Male,71.0,No,No,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic..."
185,61,Male,38.0,Yes,No,1,"Maybery, Mr. Frank Hubert"
188,28,Male,20.0,Yes,No,1,"Sage, Miss. Ada"
197,58,Male,110.0,No,Yes,1,"Nilsson, Miss. Berta Olivia"
198,20,Male,103.0,No,Yes,1,"Baimbrigge, Mr. Charles Robert"

In [24]:
survived_male.shape

(51, 7)

In [25]:
seat_belt_one=male[male['Seatbelt_Used']=='Yes']
seat_belt_one
seat_belt_one.shape

(46, 7)

In [26]:
helmet_on=male[male['Helmet_Used']=='Yes']
helmet_on
helmet_on.shape

(51, 7)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              200 non-null    int64
 1   Gender           199 non-null    object
 2   Speed_of_Impact  197 non-null    float64
 3   Helmet_Used      200 non-null    object
 4   Seatbelt_Used    200 non-null    object
 5   Survived         200 non-null    int64
 6   Accident Place   199 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 11.1+ KB

In [28]:
survived=df[df['Survived']==1]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              200 non-null    int64
 1   Gender           199 non-null    object
 2   Speed_of_Impact  197 non-null    float64
 3   Helmet_Used      200 non-null    object
 4   Seatbelt_Used    200 non-null    object
 5   Survived         200 non-null    int64
 6   Accident Place   199 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 11.1+ KB

In [30]:
not_mentioned=df[df['Speed_of_Impact'].isnull()]
not_mentioned

,Age,Gender,Speed_of_Impact,Helmet_Used,Seatbelt_Used,Survived,Accident Place
15,41,Female,NaN,No,No,0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)"
19,41,Male,NaN,Yes,No,1,"Assaf Khalil, Mrs. Mariana (Miriam"")"""
29,42,Male,NaN,Yes,No,0,"Samaan, Mr. Elias"

In [31]:
male_speedOfImpact=df[df['Speed_of_Impact']>100]
male_speedOfImpact
male_speedOfImpact.shape

(47, 7)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              200 non-null    int64
 1   Gender           199 non-null    object
 2   Speed_of_Impact  197 non-null    float64
 3   Helmet_Used      200 non-null    object
 4   Seatbelt_Used    200 non-null    object
 5   Survived         200 non-null    int64
 6   Accident Place   199 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 11.1+ KB