In [64]:
import pandas as pd
#toady is about the data cleaning which means to clean the data and make it ready for the analysis

In [65]:
df2=pd.read_excel('dabc.xlsx')

In [66]:
df2.head(40)

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"###Braund, Mr. Owen Harris",male,22.0,"123 Shire Lane, Shire",123-545-5421,No,1,Southampton,no,0.0
1,2,"%%Cumings, Mrs. John Bradley (Florence Briggs ...",female,38.0,93 West Main Street,123/643/9775,Yes,1,Cherbourg,yes,0.0
2,3,"<Heikkinen, Miss. Laina",female,26.0,298 Drugs Driveway,7066950392,NaN,0,Southampton,yes,1.0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)..",women,35.0,"980 Paper Avenue, Pennsylvania, 18503",123-543-2345,Y,1,Southampton,yes,0.0
4,5,"Allen, Mr. William Henry",man,35.0,123 Dragons Road,876|678|3469,No,0,Southampton,no,1.0
5,6,"Moran, Mr. James",male,NaN,768 City Parkway,304-762-2467,Yes,0,Queenstown,no,1.0
6,7,"McCarthy, Mr. Timothy J",male,54.0,1209 South Street,NaN,No,0,Southampton,no,1.0
7,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876|678|3469,No,3,Southampton,no,0.0
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,N/a,NaN,0,Southampton,yes,0.0
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",123-545-5421,No,1,Cherbourg,yes,0.0
10,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,yes,0.0
11,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,7066950392,NaN,0,Southampton,yes,1.0
12,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123-543-2345,N,0,Southampton,no,1.0
13,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876|678|3469,No,1,Southampton,no,0.0
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304-762-2467,No,0,Southampton,no,1.0
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,2395 Hogwarts Avenue,123-545-5421,N,0,Southampton,yes,1.0
16,17,"Rice, Master. Eugene",male,2.0,"121 Paper Avenue, Pennsylvania",123/643/9775,No,4,Queenstown,no,0.0
17,18,"Williams, Mr. Charles Eugene",male,NaN,3498 Super Lane,7066950392,NaN,0,Southampton,yes,1.0
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,N/a,N/a,Yes,1,Southampton,no,0.0
19,20,"Masselmani, Mrs. Fatima",female,NaN,"910 Tatooine Road, Tatooine",876|678|3469,N,0,Southampton,no,0.0
20,21,"Fynney, Mr. Joseph J",male,35.0,"910 Tatooine Road, Tatooine",876|678|3469,N,0,Cherbourg,yes,0.0
21,22,"Beesley, Mr. Lawrence",male,34.0,"123 Shire Lane, Shire",123-545-5421,No,0,Southampton,yes,0.0
22,23,"McGowan, Miss. Anna ""Annie""",female,15.0,93 West Main Street,123/643/9775,Yes,0,Southampton,yes,1.0
23,24,"Sloper, Mr. William Thompson",male,28.0,93 West Main Street,7066950392,NaN,0,Southampton,no,1.0
24,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876|678|3469,No,3,Southampton,no,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,N/a,NaN,0,Cherbourg,yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",123-545-5421,No,1,Southampton,yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,yes,NaN
28,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,7066950392,NaN,0,Southampton,no,NaN
29,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123-543-2345,N,0,Southampton,yes,NaN
30,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876|678|3469,No,1,Southampton,yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304-762-2467,No,0,Southampton,no,NaN

In [67]:
 # Standardize boolean columns
df['alone'] = df['alone'].replace({0.0: False, 1.0: True})
df.head()

NameError: name 'df' is not defined

In [ ]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace({'N': 'No', 'Y': 'Yes'})
df.head(40)

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"###Braund, Mr. Owen Harris",male,22.0,"123 Shire Lane, Shire",123-545-5421,No,1,Southampton,no,False
1,2,"%%Cumings, Mrs. John Bradley (Florence Briggs ...",female,38.0,93 West Main Street,123/643/9775,Yes,1,Cherbourg,yes,False
2,3,"<Heikkinen, Miss. Laina",female,26.0,298 Drugs Driveway,7066950392,NaN,0,Southampton,yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)..",women,35.0,"980 Paper Avenue, Pennsylvania, 18503",123-543-2345,Yes,1,Southampton,yes,False
4,5,"Allen, Mr. William Henry",man,35.0,123 Dragons Road,876|678|3469,No,0,Southampton,no,True
5,6,"Moran, Mr. James",male,NaN,768 City Parkway,304-762-2467,Yes,0,Queenstown,no,True
6,7,"McCarthy, Mr. Timothy J",male,54.0,1209 South Street,NaN,No,0,Southampton,no,True
7,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876|678|3469,No,3,Southampton,no,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,N/a,NaN,0,Southampton,yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",123-545-5421,No,1,Cherbourg,yes,False
10,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,yes,False
11,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,7066950392,NaN,0,Southampton,yes,True
12,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123-543-2345,No,0,Southampton,no,True
13,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876|678|3469,No,1,Southampton,no,False
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304-762-2467,No,0,Southampton,no,True
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,2395 Hogwarts Avenue,123-545-5421,No,0,Southampton,yes,True
16,17,"Rice, Master. Eugene",male,2.0,"121 Paper Avenue, Pennsylvania",123/643/9775,No,4,Queenstown,no,False
17,18,"Williams, Mr. Charles Eugene",male,NaN,3498 Super Lane,7066950392,NaN,0,Southampton,yes,True
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,N/a,N/a,Yes,1,Southampton,no,False
19,20,"Masselmani, Mrs. Fatima",female,NaN,"910 Tatooine Road, Tatooine",876|678|3469,No,0,Southampton,no,False
20,21,"Fynney, Mr. Joseph J",male,35.0,"910 Tatooine Road, Tatooine",876|678|3469,No,0,Cherbourg,yes,False
21,22,"Beesley, Mr. Lawrence",male,34.0,"123 Shire Lane, Shire",123-545-5421,No,0,Southampton,yes,False
22,23,"McGowan, Miss. Anna ""Annie""",female,15.0,93 West Main Street,123/643/9775,Yes,0,Southampton,yes,True
23,24,"Sloper, Mr. William Thompson",male,28.0,93 West Main Street,7066950392,NaN,0,Southampton,no,True
24,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876|678|3469,No,3,Southampton,no,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,N/a,NaN,0,Cherbourg,yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",123-545-5421,No,1,Southampton,yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,yes,NaN
28,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,7066950392,NaN,0,Southampton,no,NaN
29,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123-543-2345,No,0,Southampton,yes,NaN
30,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876|678|3469,No,1,Southampton,yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304-762-2467,No,0,Southampton,no,NaN

In [ ]:
df['alive'] = df['alive'].replace({'no': 'No', 'yes': 'Yes'})
df.head(40)

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"###Braund, Mr. Owen Harris",male,22.0,"123 Shire Lane, Shire",123-545-5421,No,1,Southampton,No,False
1,2,"%%Cumings, Mrs. John Bradley (Florence Briggs ...",female,38.0,93 West Main Street,123/643/9775,Yes,1,Cherbourg,Yes,False
2,3,"<Heikkinen, Miss. Laina",female,26.0,298 Drugs Driveway,7066950392,NaN,0,Southampton,Yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)..",women,35.0,"980 Paper Avenue, Pennsylvania, 18503",123-543-2345,Yes,1,Southampton,Yes,False
4,5,"Allen, Mr. William Henry",man,35.0,123 Dragons Road,876|678|3469,No,0,Southampton,No,True
5,6,"Moran, Mr. James",male,NaN,768 City Parkway,304-762-2467,Yes,0,Queenstown,No,True
6,7,"McCarthy, Mr. Timothy J",male,54.0,1209 South Street,NaN,No,0,Southampton,No,True
7,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876|678|3469,No,3,Southampton,No,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,N/a,NaN,0,Southampton,Yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",123-545-5421,No,1,Cherbourg,Yes,False
10,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,False
11,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,7066950392,NaN,0,Southampton,Yes,True
12,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123-543-2345,No,0,Southampton,No,True
13,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876|678|3469,No,1,Southampton,No,False
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304-762-2467,No,0,Southampton,No,True
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,2395 Hogwarts Avenue,123-545-5421,No,0,Southampton,Yes,True
16,17,"Rice, Master. Eugene",male,2.0,"121 Paper Avenue, Pennsylvania",123/643/9775,No,4,Queenstown,No,False
17,18,"Williams, Mr. Charles Eugene",male,NaN,3498 Super Lane,7066950392,NaN,0,Southampton,Yes,True
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,N/a,N/a,Yes,1,Southampton,No,False
19,20,"Masselmani, Mrs. Fatima",female,NaN,"910 Tatooine Road, Tatooine",876|678|3469,No,0,Southampton,No,False
20,21,"Fynney, Mr. Joseph J",male,35.0,"910 Tatooine Road, Tatooine",876|678|3469,No,0,Cherbourg,Yes,False
21,22,"Beesley, Mr. Lawrence",male,34.0,"123 Shire Lane, Shire",123-545-5421,No,0,Southampton,Yes,False
22,23,"McGowan, Miss. Anna ""Annie""",female,15.0,93 West Main Street,123/643/9775,Yes,0,Southampton,Yes,True
23,24,"Sloper, Mr. William Thompson",male,28.0,93 West Main Street,7066950392,NaN,0,Southampton,No,True
24,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876|678|3469,No,3,Southampton,No,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,N/a,NaN,0,Cherbourg,Yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",123-545-5421,No,1,Southampton,Yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,NaN
28,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,7066950392,NaN,0,Southampton,No,NaN
29,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123-543-2345,No,0,Southampton,Yes,NaN
30,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876|678|3469,No,1,Southampton,Yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304-762-2467,No,0,Southampton,No,NaN

In [ ]:
df['Phone_Number']=df['Phone_Number'].str.strip().str.replace('|',' ')
df['Phone_Number']=df['Phone_Number'].str.strip().str.replace('/',' ')
df['Phone_Number']=df['Phone_Number'].str.strip().str.replace('-',' ')
#or we can use regex to make it in a single line
# df['Phone_Number']=df['Phone_Number'].str.replace('[^a-zA-Z0-9]','',regex=True)


df.head(40)

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"###Braund, Mr. Owen Harris",male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No,False
1,2,"%%Cumings, Mrs. John Bradley (Florence Briggs ...",female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes,False
2,3,"<Heikkinen, Miss. Laina",female,26.0,298 Drugs Driveway,NaN,NaN,0,Southampton,Yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)..",women,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes,False
4,5,"Allen, Mr. William Henry",man,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No,True
5,6,"Moran, Mr. James",male,NaN,768 City Parkway,304 762 2467,Yes,0,Queenstown,No,True
6,7,"McCarthy, Mr. Timothy J",male,54.0,1209 South Street,NaN,No,0,Southampton,No,True
7,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,N a,NaN,0,Southampton,Yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes,False
10,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,False
11,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,Yes,True
12,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No,True
13,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No,False
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,True
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes,True
16,17,"Rice, Master. Eugene",male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No,False
17,18,"Williams, Mr. Charles Eugene",male,NaN,3498 Super Lane,NaN,NaN,0,Southampton,Yes,True
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,N/a,N a,Yes,1,Southampton,No,False
19,20,"Masselmani, Mrs. Fatima",female,NaN,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No,False
20,21,"Fynney, Mr. Joseph J",male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes,False
21,22,"Beesley, Mr. Lawrence",male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes,False
22,23,"McGowan, Miss. Anna ""Annie""",female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes,True
23,24,"Sloper, Mr. William Thompson",male,28.0,93 West Main Street,NaN,NaN,0,Southampton,No,True
24,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,N a,NaN,0,Cherbourg,Yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,NaN
28,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,No,NaN
29,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes,NaN
30,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,NaN

In [ ]:
df['Name']=df['Name'].str.replace(')','')
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"###Braund, Mr. Owen Harris",male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No,False
1,2,"%%Cumings, Mrs. John Bradley (Florence Briggs ...",female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes,False
2,3,"<Heikkinen, Miss. Laina",female,26.0,298 Drugs Driveway,NaN,NaN,0,Southampton,Yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel..",women,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes,False
4,5,"Allen, Mr. William Henry",man,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No,True
5,6,"Moran, Mr. James",male,NaN,768 City Parkway,304 762 2467,Yes,0,Queenstown,No,True
6,7,"McCarthy, Mr. Timothy J",male,54.0,1209 South Street,NaN,No,0,Southampton,No,True
7,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",female,27.0,123 Middle Earth,N a,NaN,0,Southampton,Yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem",female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes,False
10,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,False
11,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,Yes,True
12,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No,True
13,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No,False
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,True
15,16,"Hewlett, Mrs. (Mary D Kingcome",female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes,True
16,17,"Rice, Master. Eugene",male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No,False
17,18,"Williams, Mr. Charles Eugene",male,NaN,3498 Super Lane,NaN,NaN,0,Southampton,Yes,True
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,N/a,N a,Yes,1,Southampton,No,False
19,20,"Masselmani, Mrs. Fatima",female,NaN,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No,False
20,21,"Fynney, Mr. Joseph J",male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes,False
21,22,"Beesley, Mr. Lawrence",male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes,False
22,23,"McGowan, Miss. Anna ""Annie""",female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes,True
23,24,"Sloper, Mr. William Thompson",male,28.0,93 West Main Street,NaN,NaN,0,Southampton,No,True
24,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",female,27.0,123 Middle Earth,N a,NaN,0,Cherbourg,Yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem",female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,NaN
28,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,No,NaN
29,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes,NaN
30,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,NaN

In [ ]:
df['Gender']=df['Gender'].str.capitalize()
df['Gender']=df['Gender'].str.replace('Man','Male')
df['Gender']=df['Gender'].str.replace('Women','Female')
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"###Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No,False
1,2,"%%Cumings, Mrs. John Bradley (Florence Briggs ...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes,False
2,3,"<Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NaN,NaN,0,Southampton,Yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes,False
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No,True
5,6,"Moran, Mr. James",Male,NaN,768 City Parkway,304 762 2467,Yes,0,Queenstown,No,True
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NaN,No,0,Southampton,No,True
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NaN,0,Southampton,Yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes,False
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,False
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,Yes,True
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No,True
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No,False
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,True
15,16,"Hewlett, Mrs. (Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes,True
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No,False
17,18,"Williams, Mr. Charles Eugene",Male,NaN,3498 Super Lane,NaN,NaN,0,Southampton,Yes,True
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Female,31.0,N/a,N a,Yes,1,Southampton,No,False
19,20,"Masselmani, Mrs. Fatima",Female,NaN,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No,False
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes,False
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes,False
22,23,"McGowan, Miss. Anna ""Annie""",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes,True
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NaN,NaN,0,Southampton,No,True
24,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NaN,0,Cherbourg,Yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,NaN
28,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,No,NaN
29,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes,NaN
30,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,NaN

In [ ]:
df.shape

(32, 11)

In [ ]:
df['Name']=df['Name'].str.lstrip('% # < >')
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No,False
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes,False
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NaN,NaN,0,Southampton,Yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes,False
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No,True
5,6,"Moran, Mr. James",Male,NaN,768 City Parkway,304 762 2467,Yes,0,Queenstown,No,True
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NaN,No,0,Southampton,No,True
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NaN,0,Southampton,Yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes,False
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,False
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,Yes,True
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No,True
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No,False
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,True
15,16,"Hewlett, Mrs. (Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes,True
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No,False
17,18,"Williams, Mr. Charles Eugene",Male,NaN,3498 Super Lane,NaN,NaN,0,Southampton,Yes,True
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Female,31.0,N/a,N a,Yes,1,Southampton,No,False
19,20,"Masselmani, Mrs. Fatima",Female,NaN,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No,False
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes,False
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes,False
22,23,"McGowan, Miss. Anna ""Annie""",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes,True
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NaN,NaN,0,Southampton,No,True
24,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NaN,0,Cherbourg,Yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,NaN
28,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,No,NaN
29,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes,NaN
30,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,NaN

In [ ]:
df['Name']=df['Name'].str.replace('"','')


df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No,False
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes,False
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NaN,NaN,0,Southampton,Yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes,False
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No,True
5,6,"Moran, Mr. James",Male,NaN,768 City Parkway,304 762 2467,Yes,0,Queenstown,No,True
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NaN,No,0,Southampton,No,True
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NaN,0,Southampton,Yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes,False
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,False
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,Yes,True
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No,True
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No,False
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,True
15,16,"Hewlett, Mrs. (Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes,True
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No,False
17,18,"Williams, Mr. Charles Eugene",Male,NaN,3498 Super Lane,NaN,NaN,0,Southampton,Yes,True
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Female,31.0,N/a,N a,Yes,1,Southampton,No,False
19,20,"Masselmani, Mrs. Fatima",Female,NaN,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No,False
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes,False
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes,False
22,23,"McGowan, Miss. Anna Annie",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes,True
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NaN,NaN,0,Southampton,No,True
24,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NaN,0,Cherbourg,Yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NaN,No,1,Southampton,Yes,NaN
28,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NaN,NaN,0,Southampton,No,NaN
29,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes,NaN
30,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,NaN

In [ ]:
df=df.drop_duplicates()
df.head(2)

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No,False
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes,False

In [ ]:

df.head(10)

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No,False
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes,False
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NaN,NaN,0,Southampton,Yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes,False
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No,True
5,6,"Moran, Mr. James",Male,NaN,768 City Parkway,304 762 2467,Yes,0,Queenstown,No,True
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NaN,No,0,Southampton,No,True
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NaN,0,Southampton,Yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes,False

In [ ]:
df=df.fillna('NDF')

In [ ]:
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No,False
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes,False
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NDF,NDF,0,Southampton,Yes,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes,False
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No,True
5,6,"Moran, Mr. James",Male,NDF,768 City Parkway,304 762 2467,Yes,0,Queenstown,No,True
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NDF,No,0,Southampton,No,True
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,False
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Southampton,Yes,False
9,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes,False
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NDF,No,1,Southampton,Yes,False
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,Yes,True
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No,True
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No,False
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,True
15,16,"Hewlett, Mrs. (Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes,True
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No,False
17,18,"Williams, Mr. Charles Eugene",Male,NDF,3498 Super Lane,NDF,NDF,0,Southampton,Yes,True
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Female,31.0,N/a,N a,Yes,1,Southampton,No,False
19,20,"Masselmani, Mrs. Fatima",Female,NDF,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No,False
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes,False
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes,False
22,23,"McGowan, Miss. Anna Annie",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes,True
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NDF,NDF,0,Southampton,No,True
24,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No,NDF
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Cherbourg,Yes,NDF
26,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes,NDF
27,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NDF,No,1,Southampton,Yes,NDF
28,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,No,NDF
29,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes,NDF
30,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes,NDF
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No,NDF

In [ ]:
df.drop(columns='alone',inplace=True)
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NDF,NDF,0,Southampton,Yes
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No
5,6,"Moran, Mr. James",Male,NDF,768 City Parkway,304 762 2467,Yes,0,Queenstown,No
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NDF,No,0,Southampton,No
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Southampton,Yes
9,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NDF,No,1,Southampton,Yes
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,Yes
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No
15,16,"Hewlett, Mrs. (Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No
17,18,"Williams, Mr. Charles Eugene",Male,NDF,3498 Super Lane,NDF,NDF,0,Southampton,Yes
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Female,31.0,N/a,N a,Yes,1,Southampton,No
19,20,"Masselmani, Mrs. Fatima",Female,NDF,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes
22,23,"McGowan, Miss. Anna Annie",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NDF,NDF,0,Southampton,No
24,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Cherbourg,Yes
26,10,"Nasser, Mrs. Nicholas (Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes
27,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NDF,No,1,Southampton,Yes
28,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,No
29,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes
30,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No

In [ ]:
df=df.drop_duplicates()
df.shape

(29, 10)

In [ ]:
df['Name']=df['Name'].str.replace('(','')
df['Name']=df['Name'].str.replace(')','')

C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_9512\2425626949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name']=df['Name'].str.replace('(','')
C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_9512\2425626949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name']=df['Name'].str.replace(')','')

In [ ]:
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No
1,2,"Cumings, Mrs. John Bradley Florence Briggs Tha...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NDF,NDF,0,Southampton,Yes
3,4,"Futrelle, Mrs. Jacques Heath Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No
5,6,"Moran, Mr. James",Male,NDF,768 City Parkway,304 762 2467,Yes,0,Queenstown,No
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NDF,No,0,Southampton,No
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No
8,9,"Johnson, Mrs. Oscar W Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Southampton,Yes
9,10,"Nasser, Mrs. Nicholas Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NDF,No,1,Southampton,Yes
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,Yes
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No
15,16,"Hewlett, Mrs. Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No
17,18,"Williams, Mr. Charles Eugene",Male,NDF,3498 Super Lane,NDF,NDF,0,Southampton,Yes
18,19,"Vander Planke, Mrs. Julius Emelia Maria Vandem...",Female,31.0,N/a,N a,Yes,1,Southampton,No
19,20,"Masselmani, Mrs. Fatima",Female,NDF,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes
22,23,"McGowan, Miss. Anna Annie",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NDF,NDF,0,Southampton,No
25,9,"Johnson, Mrs. Oscar W Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Cherbourg,Yes
26,10,"Nasser, Mrs. Nicholas Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes
28,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,No
29,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes
30,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes

In [ ]:
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No
1,2,"Cumings, Mrs. John Bradley Florence Briggs Tha...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NDF,NDF,0,Southampton,Yes
3,4,"Futrelle, Mrs. Jacques Heath Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No
5,6,"Moran, Mr. James",Male,NDF,768 City Parkway,304 762 2467,Yes,0,Queenstown,No
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NDF,No,0,Southampton,No
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No
8,9,"Johnson, Mrs. Oscar W Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Southampton,Yes
9,10,"Nasser, Mrs. Nicholas Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NDF,No,1,Southampton,Yes
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,Yes
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No
15,16,"Hewlett, Mrs. Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No
17,18,"Williams, Mr. Charles Eugene",Male,NDF,3498 Super Lane,NDF,NDF,0,Southampton,Yes
18,19,"Vander Planke, Mrs. Julius Emelia Maria Vandem...",Female,31.0,N/a,N a,Yes,1,Southampton,No
19,20,"Masselmani, Mrs. Fatima",Female,NDF,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes
22,23,"McGowan, Miss. Anna Annie",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NDF,NDF,0,Southampton,No
25,9,"Johnson, Mrs. Oscar W Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Cherbourg,Yes
26,10,"Nasser, Mrs. Nicholas Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes
28,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,No
29,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes
30,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes

In [ ]:
df=df.reset_index(drop=True)
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No
1,2,"Cumings, Mrs. John Bradley Florence Briggs Tha...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NDF,NDF,0,Southampton,Yes
3,4,"Futrelle, Mrs. Jacques Heath Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No
5,6,"Moran, Mr. James",Male,NDF,768 City Parkway,304 762 2467,Yes,0,Queenstown,No
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NDF,No,0,Southampton,No
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No
8,9,"Johnson, Mrs. Oscar W Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Southampton,Yes
9,10,"Nasser, Mrs. Nicholas Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NDF,No,1,Southampton,Yes
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,Yes
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No
15,16,"Hewlett, Mrs. Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No
17,18,"Williams, Mr. Charles Eugene",Male,NDF,3498 Super Lane,NDF,NDF,0,Southampton,Yes
18,19,"Vander Planke, Mrs. Julius Emelia Maria Vandem...",Female,31.0,N/a,N a,Yes,1,Southampton,No
19,20,"Masselmani, Mrs. Fatima",Female,NDF,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes
22,23,"McGowan, Miss. Anna Annie",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NDF,NDF,0,Southampton,No
24,9,"Johnson, Mrs. Oscar W Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Cherbourg,Yes
25,10,"Nasser, Mrs. Nicholas Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Southampton,Yes
26,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,No
27,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,Yes
28,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,Yes

In [ ]:
df=df.drop([24,25,26,27,28])

In [ ]:
df

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive
0,1,"Braund, Mr. Owen Harris",Male,22.0,"123 Shire Lane, Shire",123 545 5421,No,1,Southampton,No
1,2,"Cumings, Mrs. John Bradley Florence Briggs Tha...",Female,38.0,93 West Main Street,123 643 9775,Yes,1,Cherbourg,Yes
2,3,"Heikkinen, Miss. Laina",Female,26.0,298 Drugs Driveway,NDF,NDF,0,Southampton,Yes
3,4,"Futrelle, Mrs. Jacques Heath Lily May Peel..",Female,35.0,"980 Paper Avenue, Pennsylvania, 18503",123 543 2345,Yes,1,Southampton,Yes
4,5,"Allen, Mr. William Henry",Male,35.0,123 Dragons Road,876 678 3469,No,0,Southampton,No
5,6,"Moran, Mr. James",Male,NDF,768 City Parkway,304 762 2467,Yes,0,Queenstown,No
6,7,"McCarthy, Mr. Timothy J",Male,54.0,1209 South Street,NDF,No,0,Southampton,No
7,8,"Palsson, Master. Gosta Leonard",Male,2.0,98 Clue Drive,876 678 3469,No,3,Southampton,No
8,9,"Johnson, Mrs. Oscar W Elisabeth Vilhelmina Berg",Female,27.0,123 Middle Earth,N a,NDF,0,Southampton,Yes
9,10,"Nasser, Mrs. Nicholas Adele Achem",Female,14.0,"25th Main Street, New York",123 545 5421,No,1,Cherbourg,Yes
10,11,"Sandstrom, Miss. Marguerite Rut",Female,4.0,"612 Shire Lane, Shire",NDF,No,1,Southampton,Yes
11,12,"Bonnell, Miss. Elizabeth",Female,58.0,2394 Hogwarts Avenue,NDF,NDF,0,Southampton,Yes
12,13,"Saundercock, Mr. William Henry",Male,20.0,2039 Main Street,123 543 2345,No,0,Southampton,No
13,14,"Andersson, Mr. Anders Johan",Male,39.0,343 City Parkway,876 678 3469,No,1,Southampton,No
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,214 HR Avenue,304 762 2467,No,0,Southampton,No
15,16,"Hewlett, Mrs. Mary D Kingcome",Female,55.0,2395 Hogwarts Avenue,123 545 5421,No,0,Southampton,Yes
16,17,"Rice, Master. Eugene",Male,2.0,"121 Paper Avenue, Pennsylvania",123 643 9775,No,4,Queenstown,No
17,18,"Williams, Mr. Charles Eugene",Male,NDF,3498 Super Lane,NDF,NDF,0,Southampton,Yes
18,19,"Vander Planke, Mrs. Julius Emelia Maria Vandem...",Female,31.0,N/a,N a,Yes,1,Southampton,No
19,20,"Masselmani, Mrs. Fatima",Female,NDF,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Southampton,No
20,21,"Fynney, Mr. Joseph J",Male,35.0,"910 Tatooine Road, Tatooine",876 678 3469,No,0,Cherbourg,Yes
21,22,"Beesley, Mr. Lawrence",Male,34.0,"123 Shire Lane, Shire",123 545 5421,No,0,Southampton,Yes
22,23,"McGowan, Miss. Anna Annie",Female,15.0,93 West Main Street,123 643 9775,Yes,0,Southampton,Yes
23,24,"Sloper, Mr. William Thompson",Male,28.0,93 West Main Street,NDF,NDF,0,Southampton,No

In [ ]:
#lets just check the shape of the data if there is any duplacy
df2

(32, 11)

In [ ]:
#now it is time for cleaned one 
df2.head()

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"###Braund, Mr. Owen Harris",male,22.0,"123 Shire Lane, Shire",123-545-5421,No,1,Southampton,no,0.0
1,2,"%%Cumings, Mrs. John Bradley (Florence Briggs ...",female,38.0,93 West Main Street,123/643/9775,Yes,1,Cherbourg,yes,0.0
2,3,"<Heikkinen, Miss. Laina",female,26.0,298 Drugs Driveway,7066950392,NaN,0,Southampton,yes,1.0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)..",women,35.0,"980 Paper Avenue, Pennsylvania, 18503",123-543-2345,Y,1,Southampton,yes,0.0
4,5,"Allen, Mr. William Henry",man,35.0,123 Dragons Road,876|678|3469,No,0,Southampton,no,1.0

In [ ]:
#you can see that the shape of the data is different which means the data is cleaned now can be used for futher analysis
#thankuuu for watching the video

In [ ]:
for i in df2.index:
    if df2.loc[i,'Do_Not_Contact']=='Yes':
        df2.drop(i,inplace=True)

In [ ]:
df2.shape

(28, 11)

In [ ]:
df2['Do_Not_Contact']=df2['Do_Not_Contact'].replace({'Y':'Yes','N':'No'})

In [ ]:
df2['Phone_Number']=df2['Phone_Number'].fillna('No',inplace=True)

C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_1836\383337232.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Phone_Number']=df2['Phone_Number'].fillna('No',inplace=True)

In [ ]:
df2['Phone_Number']

0     None
2     None
3     None
4     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
19    None
20    None
21    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
Name: Phone_Number, dtype: object

In [ ]:
df2['Phone_Number']=df2['Phone_Number'].astype(str).replace('[^a-zA-Z0-9]','',regex=True)

In [ ]:
df2

,Customer Id,Name,Gender,Age,Address,Phone_Number,Do_Not_Contact,SibSp,embark_town,alive,alone
0,1,"###Braund, Mr. Owen Harris",male,22.0,"123 Shire Lane, Shire",None,No,1,Southampton,no,0.0
2,3,"<Heikkinen, Miss. Laina",female,26.0,298 Drugs Driveway,None,No,0,Southampton,yes,1.0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)..",women,35.0,"980 Paper Avenue, Pennsylvania, 18503",None,Yes,1,Southampton,yes,0.0
4,5,"Allen, Mr. William Henry",man,35.0,123 Dragons Road,None,No,0,Southampton,no,1.0
6,7,"McCarthy, Mr. Timothy J",male,54.0,1209 South Street,None,No,0,Southampton,no,1.0
7,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,None,No,3,Southampton,no,0.0
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,None,No,0,Southampton,yes,0.0
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",None,No,1,Cherbourg,yes,0.0
10,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",None,No,1,Southampton,yes,0.0
11,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,None,No,0,Southampton,yes,1.0
12,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,None,No,0,Southampton,no,1.0
13,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,None,No,1,Southampton,no,0.0
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,None,No,0,Southampton,no,1.0
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,2395 Hogwarts Avenue,None,No,0,Southampton,yes,1.0
16,17,"Rice, Master. Eugene",male,2.0,"121 Paper Avenue, Pennsylvania",None,No,4,Queenstown,no,0.0
17,18,"Williams, Mr. Charles Eugene",male,NaN,3498 Super Lane,None,No,0,Southampton,yes,1.0
19,20,"Masselmani, Mrs. Fatima",female,NaN,"910 Tatooine Road, Tatooine",None,No,0,Southampton,no,0.0
20,21,"Fynney, Mr. Joseph J",male,35.0,"910 Tatooine Road, Tatooine",None,No,0,Cherbourg,yes,0.0
21,22,"Beesley, Mr. Lawrence",male,34.0,"123 Shire Lane, Shire",None,No,0,Southampton,yes,0.0
23,24,"Sloper, Mr. William Thompson",male,28.0,93 West Main Street,None,No,0,Southampton,no,1.0
24,8,"Palsson, Master. Gosta Leonard",male,2.0,98 Clue Drive,None,No,3,Southampton,no,NaN
25,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,123 Middle Earth,None,No,0,Cherbourg,yes,NaN
26,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,"25th Main Street, New York",None,No,1,Southampton,yes,NaN
27,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,"612 Shire Lane, Shire",None,No,1,Southampton,yes,NaN
28,12,"Bonnell, Miss. Elizabeth",female,58.0,2394 Hogwarts Avenue,None,No,0,Southampton,no,NaN
29,13,"Saundercock, Mr. William Henry",male,20.0,2039 Main Street,None,No,0,Southampton,yes,NaN
30,14,"Andersson, Mr. Anders Johan",male,39.0,343 City Parkway,None,No,1,Southampton,yes,NaN
31,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,214 HR Avenue,None,No,0,Southampton,no,NaN

In [69]:
df2.drop_duplicates(inplace=True)

In [70]:
df2.shape

(32, 11)