In [32]:
import pandas as pd

In [33]:
df=pd.read_csv('C:\\Users\\RASIK AHMAD DAR\\Downloads\\world_population.csv')

In [34]:
df.shape

(234, 17)

In [35]:
df.head(10)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
5,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
6,224,AIA,Anguilla,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
7,201,ATG,Antigua and Barbuda,Saint John’s,North America,93763,92664,89941,85695,75055,63328,64888,64516,442,212.1335,1.0058,0.00
8,33,ARG,Argentina,Buenos Aires,South America,45510318,45036032,43257065,41100123,37070774,32637657,28024803,23842803,2780400,16.3683,1.0052,0.57
9,140,ARM,Armenia,Yerevan,Asia,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743,93.4831,0.9962,0.03

In [36]:
#now my aim is to make the country/territory and the continent as double indexing
df.set_index('Rank',inplace=True)
df.sort_index(inplace=True)

In [40]:
df.iloc[10:20]

,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Rank,,,,,,,,,,,,,,,,
11,JPN,Japan,Tokyo,Asia,123951692,125244761,127250933,128105431,126803861,123686321,117624196,105416839,377930,327.9753,0.9947,1.55
12,ETH,Ethiopia,Addis Ababa,Africa,123379924,117190911,102471895,89237791,67031867,47878073,34945469,28308246,1104300,111.7268,1.0257,1.55
13,PHL,Philippines,Manila,Asia,115559009,112190977,103031365,94636700,77958223,61558898,48419546,37435586,342353,337.5434,1.0147,1.45
14,EGY,Egypt,Cairo,Africa,110990103,107465134,97723799,87252413,71371371,57214630,43748556,34781986,1002450,110.7188,1.0158,1.39
15,COD,DR Congo,Kinshasa,Africa,99010212,92853164,78656904,66391257,48616317,35987541,26708686,20151733,2344858,42.2244,1.0325,1.24
16,VNM,Vietnam,Hanoi,Asia,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212,296.4472,1.0074,1.23
17,IRN,Iran,Tehran,Asia,88550570,87290193,81790841,75373855,65544383,55793629,38520664,28449705,1648195,53.7258,1.0071,1.11
18,TUR,Turkey,Ankara,Asia,85341241,84135428,79646178,73195345,64113547,54324142,44089069,35540990,783562,108.9145,1.0067,1.07
19,DEU,Germany,Berlin,Europe,83369843,83328988,82073226,81325090,81551677,79370196,77786703,78294583,357114,233.4544,0.9995,1.05
20,THA,Thailand,Bangkok,Asia,71697030,71475664,70294397,68270489,63066603,55228410,45737753,35791728,513120,139.7276,1.0013,0.90

In [38]:
df.loc[5]

CCA3                                 PAK
Country/Territory               Pakistan
Capital                        Islamabad
Continent                           Asia
2022 Population                235824862
2020 Population                227196741
2015 Population                210969298
2010 Population                194454498
2000 Population                154369924
1990 Population                115414069
1980 Population                 80624057
1970 Population                 59290872
Area (km²)                        881912
Density (per km²)               267.4018
Growth Rate                       1.0191
World Population Percentage         2.96
Name: 5, dtype: object

In [ ]:
df.tail()

,CCA3,Capital,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Rank,,,,,,,,,,,,,,
230,MSR,Brades,4390,4500,5059,4938,5138,10805,11452,11402,102,43.0392,0.9939,0.0
231,FLK,Stanley,3780,3747,3408,3187,3080,2332,2240,2274,12173,0.3105,1.0043,0.0
232,NIU,Alofi,1934,1942,1847,1812,2074,2533,3637,5185,260,7.4385,0.9985,0.0
233,TKL,Nukunonu,1871,1827,1454,1367,1666,1669,1647,1714,12,155.9167,1.0119,0.0
234,VAT,Vatican City,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.0

In [ ]:
#now using isin() method to filter the data

df[df['Capital'].isin(['Kabul', 'Tirana'])]

,,Rank,CCA3,Capital,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Continent,Country/Territory,,,,,,,,,,,,,,,
Asia,Afghanistan,36,AFG,Kabul,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Europe,Albania,138,ALB,Tirana,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04

In [ ]:
df['2022 Population'].mean()

np.float64(34074414.70940171)

In [ ]:

df['Growth Rate'].nunique()

180

In [ ]:
df[df['Growth Rate'] > 10]

Empty DataFrame
Columns: [Rank, CCA3, Capital, 2022 Population, 2020 Population, 2015 Population, 2010 Population, 2000 Population, 1990 Population, 1980 Population, 1970 Population, Area (km²), Density (per km²), Growth Rate, World Population Percentage]
Index: []

In [ ]:


#give me the example of this 
df2=df[(df['Area (km²)'] < 10000) & (df['Density (per km²)'] =='')]

In [ ]:
#now i m going to use the isnull() method to filter the data
df[df['Capital'].isnull()]

Empty DataFrame
Columns: [Rank, CCA3, Capital, 2022 Population, 2020 Population, 2015 Population, 2010 Population, 2000 Population, 1990 Population, 1980 Population, 1970 Population, Area (km²), Density (per km²), Growth Rate, World Population Percentage]
Index: []

In [ ]:
#dropna() method to drop the missing values
df.dropna(subset=['Capital'],inplace=True)

In [ ]:
df

                                 Rank CCA3      Capital  2022 Population  \
Continent     Country/Territory
Africa        Algeria              34  DZA      Algiers         44903225
              Angola               42  AGO       Luanda         35588987
              Benin                77  BEN   Porto-Novo         13352864
              Botswana            144  BWA     Gaborone          2630296
              Burkina Faso         58  BFA  Ouagadougou         22673762
...                               ...  ...          ...              ...
South America Paraguay            109  PRY     Asunción          6780744
              Peru                 44  PER         Lima         34049588
              Suriname            170  SUR   Paramaribo           618040
              Uruguay             133  URY   Montevideo          3422794
              Venezuela            51  VEN      Caracas         28301696

                                 2020 Population  2015 Population  \
Continent     Country/Territory
Africa        Algeria                   43451666         39543154
              Angola                    33428485         28127721
              Benin                     12643123         10932783
              Botswana                   2546402          2305171
              Burkina Faso              21522626         18718019
...                                          ...              ...
South America Paraguay                   6618695          6177950
              Peru                      33304756         30711863
              Suriname                    607065           575475
              Uruguay                    3429086          3402818
              Venezuela                 28490453         30529716

                                 2010 Population  2000 Population  \
Continent     Country/Territory
Africa        Algeria                   35856344         30774621
              Angola                    23364185         16394062
              Benin                      9445710          6998023
              Botswana                   2091664          1726985
              Burkina Faso              16116845         11882888
...                                          ...              ...
South America Paraguay                   5768613          5123819
              Peru                      29229572         26654439
              Suriname                    546080           478998
              Uruguay                    3352651          3292224
              Venezuela                 28715022         24427729

                                 1990 Population  1980 Population  \
Continent     Country/Territory
Africa        Algeria                   25518074         18739378
              Angola                    11828638          8330047
              Benin                      5133419          3833939
              Botswana                   1341474           938578
              Burkina Faso               9131361          6932967
...                                          ...              ...
South America Paraguay                   4059195          3078912
              Peru                      22109099         17492406
              Suriname                    412756           375112
              Uruguay                    3117012          2953750
              Venezuela                 19750579         15210443

                                 1970 Population  Area (km²)  \
Continent     Country/Territory
Africa        Algeria                   13795915     2381741
              Angola                     6029700     1246700
              Benin                      3023443      112622
              Botswana                    592244      582000
              Burkina Faso               5611666      272967
...                                          ...         ...
South America Paraguay                   2408787      406752
              Peru                      13562371     1285216
              Suriname                    379918      163820
              Uruguay                    2790265      181034
              Venezuela                 11355475      916445

                                 Density (per km²)  Growth Rate  \
Continent     Country/Territory
Africa        Algeria                      18.8531       1.0164
              Angola                       28.5466       1.0315
              Benin                       118.5635       1.0274
              Botswana                      4.5194       1.0162
              Burkina Faso                 83.0641       1.0259
...                                            ...          ...
South America Paraguay                     16.6705       1.0115
              Peru                         26.4933       1.0099
              Suriname                      3.7727       1.0082
              Uruguay                      18.9069       0.9990
              Venezuela                    30.8820       1.0036

                                 World Population Percentage
Continent     Country/Territory
Africa        Algeria                                   0.56
              Angola                                    0.45
              Benin                                     0.17
              Botswana                                  0.03
              Burkina Faso                              0.28
...                                                      ...
South America Paraguay                                  0.09
              Peru                                      0.43
              Suriname                                  0.01
              Uruguay                                   0.04
              Venezuela                                 0.35

[234 rows x 15 columns]

In [ ]:
#df.interpolate() now using this  what this function does is  is 
df.interpolate()

C:\Users\RASIK AHMAD DAR\AppData\Local\Temp\ipykernel_21952\717877254.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

                                 Rank CCA3      Capital  2022 Population  \
Continent     Country/Territory
Africa        Algeria              34  DZA      Algiers         44903225
              Angola               42  AGO       Luanda         35588987
              Benin                77  BEN   Porto-Novo         13352864
              Botswana            144  BWA     Gaborone          2630296
              Burkina Faso         58  BFA  Ouagadougou         22673762
...                               ...  ...          ...              ...
South America Paraguay            109  PRY     Asunción          6780744
              Peru                 44  PER         Lima         34049588
              Suriname            170  SUR   Paramaribo           618040
              Uruguay             133  URY   Montevideo          3422794
              Venezuela            51  VEN      Caracas         28301696

                                 2020 Population  2015 Population  \
Continent     Country/Territory
Africa        Algeria                   43451666         39543154
              Angola                    33428485         28127721
              Benin                     12643123         10932783
              Botswana                   2546402          2305171
              Burkina Faso              21522626         18718019
...                                          ...              ...
South America Paraguay                   6618695          6177950
              Peru                      33304756         30711863
              Suriname                    607065           575475
              Uruguay                    3429086          3402818
              Venezuela                 28490453         30529716

                                 2010 Population  2000 Population  \
Continent     Country/Territory
Africa        Algeria                   35856344         30774621
              Angola                    23364185         16394062
              Benin                      9445710          6998023
              Botswana                   2091664          1726985
              Burkina Faso              16116845         11882888
...                                          ...              ...
South America Paraguay                   5768613          5123819
              Peru                      29229572         26654439
              Suriname                    546080           478998
              Uruguay                    3352651          3292224
              Venezuela                 28715022         24427729

                                 1990 Population  1980 Population  \
Continent     Country/Territory
Africa        Algeria                   25518074         18739378
              Angola                    11828638          8330047
              Benin                      5133419          3833939
              Botswana                   1341474           938578
              Burkina Faso               9131361          6932967
...                                          ...              ...
South America Paraguay                   4059195          3078912
              Peru                      22109099         17492406
              Suriname                    412756           375112
              Uruguay                    3117012          2953750
              Venezuela                 19750579         15210443

                                 1970 Population  Area (km²)  \
Continent     Country/Territory
Africa        Algeria                   13795915     2381741
              Angola                     6029700     1246700
              Benin                      3023443      112622
              Botswana                    592244      582000
              Burkina Faso               5611666      272967
...                                          ...         ...
South America Paraguay                   2408787      406752
              Peru                      13562371     1285216
              Suriname                    379918      163820
              Uruguay                    2790265      181034
              Venezuela                 11355475      916445

                                 Density (per km²)  Growth Rate  \
Continent     Country/Territory
Africa        Algeria                      18.8531       1.0164
              Angola                       28.5466       1.0315
              Benin                       118.5635       1.0274
              Botswana                      4.5194       1.0162
              Burkina Faso                 83.0641       1.0259
...                                            ...          ...
South America Paraguay                     16.6705       1.0115
              Peru                         26.4933       1.0099
              Suriname                      3.7727       1.0082
              Uruguay                      18.9069       0.9990
              Venezuela                    30.8820       1.0036

                                 World Population Percentage
Continent     Country/Territory
Africa        Algeria                                   0.56
              Angola                                    0.45
              Benin                                     0.17
              Botswana                                  0.03
              Burkina Faso                              0.28
...                                                      ...
South America Paraguay                                  0.09
              Peru                                      0.43
              Suriname                                  0.01
              Uruguay                                   0.04
              Venezuela                                 0.35

[234 rows x 15 columns]

In [ ]:
world_pop=df['World Population Percentage']
world_pop

Continent      Country/Territory
Africa         Algeria              0.56
               Angola               0.45
               Benin                0.17
               Botswana             0.03
               Burkina Faso         0.28
                                    ...
South America  Paraguay             0.09
               Peru                 0.43
               Suriname             0.01
               Uruguay              0.04
               Venezuela            0.35
Name: World Population Percentage, Length: 234, dtype: float64

In [ ]:
#pd.pivot_table(df, values='value_column',
#index='index_column', columns='column_to_pivot')
#waht this function does is it creates a pivot table from the data frame like the one we have in excel 
#the values are the values we want to see in the pivot table 
df2=pd.pivot_table(df, values='2015 Population',index='Continent', columns='World Population Percentage')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Africa to South America
Data columns (total 70 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0.0     5 non-null      float64
 1   0.01    6 non-null      float64
 2   0.02    4 non-null      float64
 3   0.03    3 non-null      float64
 4   0.04    4 non-null      float64
 5   0.05    3 non-null      float64
 6   0.06    4 non-null      float64
 7   0.07    4 non-null      float64
 8   0.08    2 non-null      float64
 9   0.09    5 non-null      float64
 10  0.11    3 non-null      float64
 11  0.12    2 non-null      float64
 12  0.13    4 non-null      float64
 13  0.14    3 non-null      float64
 14  0.15    4 non-null      float64
 15  0.16    1 non-null      float64
 16  0.17    1 non-null      float64
 17  0.2     1 non-null      float64
 18  0.21    1 non-null      float64
 19  0.22    3 non-null      float64
 20  0.23    1 non-null      float64
 21  0.24    1 non-null      float64
 22  0.25    3 non-null      float64
 23  0.26    1 non-null      float64
 24  0.27    1 non-null      float64
 25  0.28    2 non-null      float64
 26  0.3     1 non-null      float64
 27  0.33    3 non-null      float64
 28  0.35    2 non-null      float64
 29  0.37    1 non-null      float64
 30  0.38    1 non-null      float64
 31  0.41    1 non-null      float64
 32  0.42    2 non-null      float64
 33  0.43    2 non-null      float64
 34  0.45    1 non-null      float64
 35  0.46    1 non-null      float64
 36  0.47    1 non-null      float64
 37  0.48    1 non-null      float64
 38  0.5     1 non-null      float64
 39  0.52    1 non-null      float64
 40  0.56    2 non-null      float64
 41  0.57    1 non-null      float64
 42  0.59    1 non-null      float64
 43  0.6     1 non-null      float64
 44  0.65    2 non-null      float64
 45  0.68    2 non-null      float64
 46  0.74    1 non-null      float64
 47  0.75    1 non-null      float64
 48  0.81    1 non-null      float64
 49  0.82    1 non-null      float64
 50  0.85    1 non-null      float64
 51  0.9     1 non-null      float64
 52  1.05    1 non-null      float64
 53  1.07    1 non-null      float64
 54  1.11    1 non-null      float64
 55  1.23    1 non-null      float64
 56  1.24    1 non-null      float64
 57  1.39    1 non-null      float64
 58  1.45    1 non-null      float64
 59  1.55    2 non-null      float64
 60  1.6     1 non-null      float64
 61  1.81    1 non-null      float64
 62  2.15    1 non-null      float64
 63  2.7     1 non-null      float64
 64  2.74    1 non-null      float64
 65  2.96    1 non-null      float64
 66  3.45    1 non-null      float64
 67  4.24    1 non-null      float64
 68  17.77   1 non-null      float64
 69  17.88   1 non-null      float64
dtypes: float64(70)
memory usage: 3.3+ KB

In [ ]:
df2.to_excel('C:\\Users\\RASIK AHMAD DAR\\Downloads\\world_population_pivot_table.xlsx')

In [ ]:
#df['date_column'] = pd.to_datetime(df['date_column']) withe a simepl example
data_date={'date':['2021-01-01','2021-01-02','2021-01-03']}
df_date=pd.DataFrame(data_date)
df_date['date']=pd.to_datetime(df_date['date'])
df_date

        date
0 2021-01-01
1 2021-01-02
2 2021-01-03